[2019-07-25 13:40] ethanandrews opened #2 "OBS bar code text not fitting label"

[2019-07-25 14:23] #2 closed, assigned to ethanandrews

[2019-07-26 13:49] ethanandrews opened #3 "Add Notes option to Deployments"
We need to be able to create Notes in the History action for Deployments.

[2019-07-26 13:55] ethanandrews opened #4 "Remove "Is Equipment?" feature"
Moving this feature to the User Defined Fields

[2019-07-26 14:05] ethanandrews opened #5 "Update Serial # scheme for Cables for OOI"
We've changed Serial # scheme for Cables. 4444-55555-22-22 is max that prints properly on Brady Cable printer.
Can we offer different autocomplete per part type? in this case it would be <part#>-##

[2019-08-02 14:33] ethanandrews opened #6 "Add Deployment name/id to Navigation"
Need to see the Deployment number in the navigation tree

[2019-08-05 18:26] #6 closed, assigned to ethanandrews

[2019-08-06 17:03] ethanandrews opened #7 "Add Deployment history to Location template"
Need to see the Deployment history and details in Location templates, just like in Builds. Let's move this template code to its own partial.

[2019-08-06 17:19] #7 closed, assigned to ethanandrews

[2019-08-06 17:23] ethanandrews opened #8 "Reorganize Location template Deployment list"
Need to group the Deployments by Assembly instead of Build

[2019-08-06 18:45] #8 closed, assigned to ethanandrews

[2019-08-07 15:17] #4 closed, assigned to ethanandrews

[2019-08-07 17:02] ethanandrews opened #9 "Add Feature Photo for Inventory Items"
Add the ability to link a featured image to each Inventory Item. Display that picture in the item header.

[2019-08-07 17:05] ethanandrews opened #10 "Make Custom Date Fields display more readable"
Need to format the custom date fields in templates to be more human readable

[2019-08-07 17:15] ethanandrews opened #11 "Snapshots - Need to capture Inventory Item data"
When a snapshot is taken, we need to freeze the data values on Inventory Items as they were at that time. These numbers can be different than the current values.

[2019-08-08 13:27] ethanandrews opened #12 "Remove all CDN dependencies"
Need to use local versions of all JS/CSS frameworks for system to work remotely on ships

[2019-08-08 19:00] ethanandrews opened #13 "Implement Lazy Loading for jsTree navigation"
The Build templates are taking too long to load in the navtrees. Need to add Lazy Loading functionality.

[2019-08-08 20:18] #13 closed, assigned to ethanandrews

[2019-08-09 17:27] ethanandrews opened #14 "Improve "filter by part type" feature"
Need to update the part type filter to work with lazy loading, the leaves with matching items should auto open on load

[2019-08-13 13:41] ethanandrews opened #15 "Extend navtree lazy loading to Inventory items"
Let's increase the navigation tree load speed more by lazy loading unassigned and destination assigned Inventory items.

[2019-08-13 16:39] #15 closed, assigned to ethanandrews

[2019-08-14 16:12] #14 closed, assigned to ethanandrews

[2019-08-14 17:56] ethanandrews opened #16 "Bar 93 code needs to be all uppercase when printed"

[2019-08-19 19:11] ethanandrews opened #17 "Tags/Order By for Custom Fields"
User needs to be able to tag custom fields to organize in some way. May need to combine with field ordering?

[2019-08-20 17:39] #16 closed, assigned to ethanandrews

[2019-08-28 17:46] #10 closed, assigned to ethanandrews

[2019-10-09 19:45] ethanandrews opened #18 "Automate spin-up of new RDB instance"
Need to set up initial groups/permissions/locations for RDB to start automatically

[2019-10-09 19:57] ethanandrews opened #19 "Develop "At Sea" database methods"

[2019-10-29 19:31] ethanandrews opened #22 "Add Part Type/Assembly Type edit interfaces"
Need to add user interfaces for CRUD operations on Part Type and Assembly Type outside of Django admin

[2019-11-13 17:07] #18 closed, assigned to ethanandrews

[2019-11-14 14:21] #22 closed, assigned to ethanandrews

[2019-12-03 19:11] caileighf opened #26 "Can't add documents when creating a part template"
If there are documents added - like a link to a Datasheet, the form seems to hold. When I select "Add Part", nothing seems to happen. But if I delete the documents, it will add the part. There doesn't seem to be a way to add documents later. I've added a screenshot of the document area I'm talking about

![Image 12-3-19 at 2 08 PM](https://user-images.githubusercontent.com/25257452/70081542-c3c6ed

[2019-12-03 19:42] caileighf opened #27 "Should have a .envs/ directory at root dir OR have local.yml point to .envs.example/.local/.django"
When I run:
[code]
I got this error:
[code]
When I ran
[code]
It worked.

Here is a closed issue on docker-compose that talks about order of operations when setting up a docker environment for the first time.
https://github.com/docker/compose/issues/3346

I'm happy to submit a PR with the local.yml file pointing to .envs.example/ rather than .envs/

Thanks!

[2019-12-04 19:05] #27 closed, assigned to nobody

[2019-12-04 19:11] #5 closed, assigned to ethanandrews

[2019-12-04 20:33] #26 closed, assigned to nobody

[2019-12-04 20:37] ethanandrews opened #28 "User bulk upload of inventory items"
Create CSV template from existing custom fields to so User can populate with their data.

[2019-12-09 20:46] ethanandrews opened #29 "Add dropdown field option for Custom Fields"
Create a new field type for Custom Fields for select lists with discrete options.

[2019-12-12 14:58] ethanandrews opened #30 "New instance bug - Initial migrations miss the Printer permissions for Admin"
When a new RDB instance is started, Admin users don't automatically have permission to manage Printers in the AdminTool app. Need to fix.

[2020-01-22 14:43] ethanandrews opened #36 "Assembly Editing needs to check existing Builds"
If a part is removed from an Assembly template after Builds already exist, current Builds will no longer display that Inventory item if it's there.

[2020-01-24 15:37] rhmunier opened #37 "Remove button for build subassemblies causes crash"
The remove button to the right of each item in the subassemblies list goes to a confirmation page which does not have the correct style.  Attempting to continue on with the removal crashes the application with a NoReverseMatch error
![RemoveButtonErrorSS](https://user-images.githubusercontent.com/59926007/73081339-6a23c600-3e95-11ea-88b2-8ddc37c592e0.png)

[2020-01-27 19:06] #37 closed, assigned to nobody

[2020-01-29 14:54] rhmunier opened #39 "Inventory without location"
If a location is deleted while there is inventory present there, the location for those inventory items is set to "none" and can only be found if searched for.  Attempting to view such an item causes a crash.

![NoLocError](https://user-images.githubusercontent.com/59926007/73367255-4984b300-427d-11ea-8df0-f7c9441ebb10.png)

[2020-02-07 19:12] #36 closed, assigned to ethanandrews

[2020-02-10 18:57] #30 closed, assigned to ethanandrews

[2020-02-14 15:10] ethanandrews opened #45 "Pop orphaned Inventory items off Builds when Assembly changes - Testing"
A fix for the bug found in testing is now ready to retest (https://trello.com/c/veMkuXdy)

@rhmunier please test out this fix on rdb-testing.whoi.edu

[2020-02-14 15:17] ethanandrews opened #46 "Add "white label" functionality for application Labels/Naming"
Need the ability for users to modify the default labels for some of the apps:

- Assemblies
- Builds
- Deployments
- Inventory? (need to discuss)

[2020-02-19 19:37] #45 closed, assigned to rhmunier

[2020-02-19 19:49] rhmunier opened #48 "Burn in restriction"
Burn ins are restricted to locations under the Land parent which excludes any custom top level parent the user may have and possibly use for burn ins.

[2020-02-21 17:27] rhmunier opened #50 "Assembly type validation"
The assembly type field is not a required field.  If an assembly is created with no type it can only be edited by manually entering it's information page address but still have builds created from it.

[2020-02-24 13:34] rhmunier opened #51 "Build assembly template not required field for new build"
The assembly template is not a required field.  Creating a build without the template prevented the list on the left from loading when attempting to look at either the inventory or build lists until I deleted the location it was supposed to be in.

[2020-02-24 16:09] #48 closed, assigned to ethanandrews

[2020-02-27 18:11] ethanandrews commented on #50
Fixed by 832164a64bc4020b162170c571a11e646a53e8af

[2020-02-28 13:41] rhmunier commented on #50
In testing the issue, things seem to have gotten worse.  A build can still be created without an assembly template and the list will not load (assuming java error) again but additionally the assembly information page can no longer be accessed by manually entering the address

https://rdb-testing.whoi.edu/builds/18/

![image](https://user-images.githubusercontent.com/59926007/75553194-e4e87f80-5a05

[2020-02-28 14:21] ethanandrews commented on #50
The fix for this has not been pushed to the testing server yet, it’s part of a larger commit that will go up soon. So no need to worry about this right now.

From: rhmunier <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Friday, February 28, 2020 at 8:41 AM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Ethan Andrews <eandr

[2020-02-28 14:24] rhmunier commented on #50
I was looking at the wrong issue as I apparently didn't name them distinctly enough.  What I posted earlier today was for creating a build without an assembly template (#51), not an assembly without a type

[2020-02-28 14:24] #50 closed

[2020-03-02 15:49] ethanandrews commented on #46
Updates have been made to the Inventory items app to apply the custom labeling. @rhmunier please test this functionality again.

[2020-03-02 15:50] ethanandrews commented on #39
A fix is in place for this issue on the testing server. @rhmunier please test out the Location delete functionality

[2020-03-02 15:51] ethanandrews commented on #51
This is ready for testing. @rhmunier

[2020-03-02 16:20] rhmunier commented on #39
Inventory move on location deletion and validation work as intended.  Child locations are moved to top level rather than grand parent but I believe you mentioned previously that was as deliberate.

[2020-03-02 16:32] rhmunier commented on #51
Validation works

[2020-03-02 16:32] #51 closed

[2020-03-05 19:32] ethanandrews commented on #46
Close #52

[2020-03-05 19:32] #46 closed

[2020-03-05 19:33] #39 closed

[2020-03-12 19:08] ethanandrews opened #54 "Assembly Revisions testing"
@rhmunier  The rdb-testing site has been updated with the new code to implement the Assembly Revisions update. There are two separate test cases that you'll need to run through for this:

#1 - **Basic functionality for creating new Assemblies/Builds using the Assembly Revision system**
Does it work as expected, is it intuitive to use from your perspective, etc. Expected behavior is as follows:

-

[2020-03-14 18:02] ethanandrews opened #55 "Keep trailing zeros in custom Decimal fields"
If a Custom Field for an Inventory item is a Decimal Field, it needs to save and display any trailing zeroes that are entered: ex. 12.20

[2020-03-14 18:04] ethanandrews commented on #55
@rhmunier The fix for this issue is on the rdb-testing site, ready for you to test. Please confirm that it works as expected

[2020-03-18 16:20] rhmunier commented on #55
Precision 0 are maintained, leading 0 are not but that is intentional from what I know.

[2020-03-18 16:20] #55 closed

[2020-03-18 17:00] rhmunier commented on #54
Almost all things are working as normal.  I am unable to add documents to templates or inventory for both assemblies or parts.

[2020-03-18 17:16] ethanandrews commented on #54
Ok, great. I’ll take a look at the documents.

On Mar 18, 2020, at 1:00 PM, rhmunier <notifications@github.com> wrote:

﻿

Almost all things are working as normal. I am unable to add documents to templates or inventory for both assemblies or parts.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/WHOIGit/ooicgsn-roundabou

[2020-03-18 18:25] ethanandrews commented on #54
@rhmunier I tested adding documents to both Part Templates Assembly Revisions and both seemed to work find. See attached screenshot for example. Is this what you were having problems with or was it something else?
<img width="1656" alt="Screen Shot 2020-03-18 at 2 23 22 PM" src="https://user-images.githubusercontent.com/39806262/76994113-4ffde580-6924-11ea-83bb-c752f4dbe682.png">

[2020-03-19 16:05] ethanandrews opened #56 "Add "Empty Trash Bin" function"
Need to give admin users ability to permanently delete Inventory items from Trash Bin

[2020-03-23 20:30] rhmunier opened #57 "Notes do not allow .txt as valid file upload"
When adding a note to an inventory item or build, the upload element does not accept .txt files nor does it give a validation or error message.  The element should either have a message added or changed to allow .txt files if there are plans of their use.

[2020-03-25 12:59] ethanandrews commented on #57
Hey @rhmunier, please test out the file upload validation again. .txt files are still not allowed, but you should now get a validation error message displayed. Please test both Inventory and Build notes. Thanks!

[2020-03-25 13:54] rhmunier commented on #57
Error message works as intended for both items with a list of acceptable file formats

[2020-03-25 18:49] #57 closed

[2020-04-08 17:09] ethanandrews commented on #29
@rhmunier Hey Rob, this new feature request is now ready for testing. It adds a new type of Custom Field, a "Dropdown Field" that allows the user to enter a list of specific option choices when creating the Custom Field.

So now when entering a value for an Inventory item, the user is presented with a dropdown select list to choose a value from that predefined list.

The user interface for both se

[2020-04-15 13:25] #54 closed

[2020-04-15 15:25] ethanandrews opened #63 "Advanced Search testing"
@rhmunier the new advanced search functionality is up on the testing server and ready for you to test. Let it rip.

[2020-04-17 13:52] ethanandrews commented on #63
There's an issue with fresh installs and the django_tables2 module in the tables.py file. Django throws an error, possible that the tables module is trying to load db fields before they exist. This needs further testing.

[2020-04-17 15:48] sbatchelder commented on #63
Fixed! It had to do with a db query that happened at the module level (not in a class or function). I placed the call inside a function/class and it should now be fine. Pushed the changes to a new branch: sidney-dev2

[2020-04-17 18:43] ethanandrews commented on #63
Reopening so Rob can list bugs here

[2020-04-23 00:31] sbatchelder commented on #63
Re location.root_type seeming empty.
I think the database is being queried correctly and that location.root_type is typically not set.
Rob mentioned that "Retired" seems to show up and, if allowed in search results, "Trash" is also shows up. I'll note that for both of these cases the location name is the same as the "root_type".

It looks to me like when something is retired or trashed, the locati

[2020-04-23 00:36] ethanandrews commented on #63
Yes, let’s omit root_type from search results. That field is really just for organizing land/sea type distinctions, and is pretty much deprecated at this point.

On Apr 22, 2020, at 8:32 PM, Sidney Batchelder <notifications@github.com> wrote:

﻿

Re location.root_type seeming empty.
I think the database is being queried correctly and that location.root_type is typically not set.
Rob mentioned that

[2020-05-05 18:28] cahearn opened #67 "Advanced Search Feedback"
Search is looking great!  Dare I say... Advanced even!!!

Here's a couple things I've found:

- Initial blank search return all items in inventory but subsequent blank searches returns this error: "Query textboxes cannot be left empty"
- Some functionality is lost compared to original search (ex: "Old Serial Number" field was part of search, now it's not)
- Searching "Note" is a search on Part Tem

[2020-05-08 18:55] spetillo commented on #67
@sbatchelder Some more feedback here. Stuff in **bold** is stuff to address...

1. It looks like the original search dropdown in the upper right didn't get updated when the dropdown next to "Search:" in the upper-ish left got updated. Also, the "Search:" dropdown displays the old label (i.e., "Build" instead of Builds", "Part" instead of "Part Templates", "Assembly" instead of "Assembly Templates"

[2020-05-08 18:56] spetillo commented on #67
![Screenshot from 2020-05-08 14-23-06](https://user-images.githubusercontent.com/11924613/81439222-08cded00-913c-11ea-9a88-81e76c93da88.png)
Screenshot for Item 1 in my previous comment.

[2020-05-08 19:16] sbatchelder commented on #67
(1) I can hard code these changes for now quickly. I'll look into parameterizing them.
(2B) I can do that. I want to point out that there are both described in the Build model. Right now with the database from ooi-rdb 'm using, no build has either any Note or Details.
[code]
![image](https://user-images.githubusercontent.com/44208509/81440900-c8bc3980-913e-11ea-928a-d56a12957e15.png)

(2C) easy fi

[2020-05-08 19:27] ethanandrews commented on #67
Hey Sidney, you can ignore the “detail” field for both Inventory and Build models. Those are used just as passthrough fields to simplify the generation of the notes for the Action model history.

From: Sidney Batchelder <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Friday, May 8, 2020 at 3:16 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@nor

[2020-05-08 19:31] sbatchelder commented on #67
(1) continued...

Is this the third place you mentioned, @spetillo ?
![image](https://user-images.githubusercontent.com/44208509/81441248-6fa0d580-913f-11ea-9b84-42bac34d9d77.png)
If so, it looks like there ARE some form of parameterized label name for these but (a) it's not used everywhere/consistently and (b) but it renders as eg: "Assemblies" not "Assembly Templates" like you ask.
@ethanandrews

[2020-05-08 19:38] sbatchelder commented on #67
@ethanandrews
Aha! okay!
I am going to keep build.build_notes then though. These are separate from build_actions.details.

I'm also renaming inventory_actions.details and build_actions.details to show up as "Latest Action: Notes" as I think that would make more sense to an end-user.

[2020-05-08 19:38] ethanandrews commented on #67
Those are set in the environmental variables. The idea is that end users may want to change the default naming conventions for things like Assembly, Build, Deployment and Inventory. However, we decided there was no point in giving them that option for base things like Part and Location.

You can get the labels like this in .py files:
`# Get the app label names from the core utility functions
from

[2020-05-08 19:40] ethanandrews commented on #67
Yes, the Build notes field is a standalone general "note" field for Builds and should be included.

[2020-05-08 19:46] spetillo commented on #67
1) OK, can we use `{{ label_assemblies_app_singular }} Templates` and `Parts Templates`... or can we set more environmental variables for these? If this isn't doable today, I could be willing to hard-code temporarily, but I don't love it.
1) continued...
 Nope, the third place is on the search page. Next to "Search:", when you click that dropdown the options are correct (e.g., "Part Templates"), b

[2020-05-08 19:57] ethanandrews commented on #67
Yes, we can use  `{{ label_assemblies_app_singular }} Templates`. I'm not crazy about adding a new environmental variable for "Parts", as it would take quite a bit of work to update every place we use the term "Part" in the RDB templates and I think "Part" is a pretty simple term that we shouldn't give the user the temptation to screw around with.

[2020-05-08 20:09] sbatchelder commented on #67
ok. updates are done and pushed to sidney-dev. should I put in a PR to develop... or to ooi-staging-rdb
??

[2020-05-08 20:10] ethanandrews commented on #67
PR to develop

On May 8, 2020, at 4:09 PM, Sidney Batchelder <notifications@github.com> wrote:

﻿

ok. updates are done and pushed to sidney-dev. should I put in a PR to develop... or to ooi-staging-rdb
??

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/WHOIGit/ooicgsn-roundabout/issues/67#issuecomment-625996695>, or unsubscr

[2020-05-12 21:23] spetillo commented on #67
Re-posting comments from PR #69 here for reference, re: removing "Notes & Details" (historical action notes/details) search:

[2020-05-15 15:04] ethanandrews opened #72 "Advanced search error on OBS site"
@sbatchelder Connor ran into a bug when demoing the advanced search on obs-rdb.whoi.edu. Search query with problem:

https://obs-rdb.whoi.edu/search/inventory?f=.0.part__name&l=.0.icontains&q=.0.q330

If you try to sort on any field besides the main Serial#, Name, Location, an error is thrown (like Unit Cost or whatever). I've added you to a user on that site so you can check it out, I'll slack yo

[2020-05-15 15:09] #29 closed

[2020-05-15 15:09] #63 closed

[2020-05-15 15:09] #67 closed

[2020-05-15 17:15] sbatchelder commented on #72
so i think I know what I can do to fix the bug but I can't recreate the error to check. would it be possible for me to obtain the obs database (a recent backup) to do testing?

[2020-05-15 17:19] ethanandrews commented on #72
Yes, I can get you a copy of that. Probably in about an hour, away from computer at the moment.

On May 15, 2020, at 1:16 PM, Sidney Batchelder <notifications@github.com> wrote:

﻿

so i think I know what I can do to fix the bug but I can't recreate the error to check. would it be possible for me to obtain the obs database (a recent backup) to do testing?

—
You are receiving this because you auth

[2020-05-15 17:51] sbatchelder commented on #72
I think what's happening is that one or more user-defined-fields somewhere in the db has a field_value  None/null. These are the value's that are returned by `FieldValue.__str__()`. When the table is rendered, `__str__` is called on the udf and when None is returned instead of a string, it borks.
So presumably this can be fixed by doing

[code]

This would show up as "None" in the table. We could

[2020-05-15 18:22] ethanandrews commented on #72
Ok, why don’t you try changing that field in the UDF model to be null=False, and see what happens? I slacked you a copy of the OBS DB.

If I try to sort on “Unit Cost”, I also get the error. That’s not a UDF field, it’s a DecimalField on the Part model.  Same issue?

From: Sidney Batchelder <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Friday, May 1

[2020-05-15 19:07] sbatchelder commented on #72
Got the obs database. Here's what it looks like with the fix.

Are we fine with those fields (ID, SN, other udf's) showing up as `"None"`?

![image](https://user-images.githubusercontent.com/44208509/82087232-b487b780-96bd-11ea-9b60-cef23984d686.png)

[2020-05-15 19:13] ethanandrews commented on #72
I think for consistency, they should probably just be blank?

[2020-05-15 19:42] sbatchelder commented on #72
it seems like changing `field_value = models.TextField(null=True, blank=True)` to `null=False` would prevent new blank FieldValues from being created as `None`, but a docker rebuild (which i think includes any migrations) with the above change does not seem to change the database instances where this is already the case.
I've included `null=False` in my commits for Pull Request too for any new db

[2020-05-15 20:09] ethanandrews commented on #72
Great, thanks Sidney! Looks good at first glance, I'll test it out.

[2020-05-17 18:33] #72 closed

[2020-05-27 20:47] sbatchelder opened #75 "Adding Calibration Fields to a new Part Template is unclear"
When creating a new Part, it is not clear where/how to add/edit Calibration fields.
Currently this is done by clicking on "Choose Action: Edit Part Template" dropdown on a Part of type "Inventory". This pretty unclear.

I have suggestions:

(1) when creating a part, when updating the Part Type to "Instrument", have the page update with the interface for adding calibrations right away. Changing Par

[2020-05-27 22:43] joannekoch opened #76 "Add Cancel Button to Add and Update Screens"
Cancel Button needs to be added to all Add and Update Screens for the following: Types, Printers, Assemblies, Parts, Locations, Inventories, Deployments, Sub-Assemblies, and Builds.

The addition of the Cancel Button will satisfy the Use Case of a User exiting an add or update screen and returning to the previous screen.

[2020-05-27 23:05] joannekoch opened #77 "Field Validation Warning Messages do not Persist"
Field validation warning messages flagging invalid data do not persist on the following screens: Add/Update Assembly, Part and Location Templates, Add/Update Types, Add/Update Custom Fields, Add/Update Location, Add/Update Inventory, and Add/Update Builds to name a few.

Field validation warning message do persist when adding a Part to a Part Template and when editing a Revision.

Field validation

[2020-05-27 23:32] joannekoch opened #78 "Search Part Template for Name returns inconsistent results"
When a search is performed on Part Templates for Name equals or contains, the results display the Name column, but when a Friendly name is defined, the search displays the Friendly name. When a Friendly name is not defined, the search displays the Name of the Part Template.

If a Part Template has a Name = "test part template" and a Friendly name = "tester", search for name contains "test" returns

[2020-05-28 14:18] ethanandrews commented on #78
@sbatchelder Hey Sidney, can you take a look at this bug report from Joanne? Thanks!

[2020-05-28 14:44] sbatchelder commented on #78
Aha! Yes I know what's going on here. Will fix

[2020-05-28 14:50] joannekoch commented on #78
Thanks so much Sidney!

Joanne

________________________________
From: Sidney Batchelder <notifications@github.com>
Sent: Thursday, May 28, 2020 10:44 AM
To: WHOIGit/ooicgsn-roundabout
Cc: Joanne Koch; Author
Subject: Re: [WHOIGit/ooicgsn-roundabout] Search Part Template for Name returns inconsistent results (#78)

Aha! Yes I know what's going on here. Will fix

—
You are receiving this because yo

[2020-05-29 14:22] joannekoch opened #79 "Part Template Added when validation error is displayed"
When you add a new Part Template and enter a non-unique Part Number, a validation error is displayed: Part Number already in use! Part Number must be unique. The Part Template is added with a non-unique Part Number, despite the validation error.

[2020-06-01 13:18] rhmunier commented on #77
Conversely, some of the database validation fields do not remove their warning leaving many instances of the error bar.  Duplicate serial numbers is one example.

[2020-06-01 13:33] sbatchelder opened #81 "Calibration Edit "Permission Denied" error."
When I click "edit coefficients" on an Inventory/instument with calibrations, nothing happens.
![image](https://user-images.githubusercontent.com/44208509/83413924-9d99d280-a3ea-11ea-8fda-536330da6588.png)

The django console output shows the following PermissionDenied error.
[code]
The user I was doing this as is registered as admin
![image](https://user-images.githubusercontent.com/44208509/8341

[2020-06-01 16:54] joannekoch opened #82 "Invalid Location Parent/Child Assignment hangs Software"
When a Child Location changes its parent to itself, the software hangs with a spinning indicator and no error message.

When a Parent Location changes its parent to that of its child, the software hangs with a spinning indicator and no error message.

[2020-06-02 12:56] ethanandrews commented on #78
@joannekoch Hey Joanne, Sidney has put in a fix for this and her new code is now on the staging server. Can you test out and confirm it fixes your bug? Thanks!

[2020-06-02 13:19] joannekoch commented on #78
Will do.

Joanne

________________________________
From: Ethan Andrews <notifications@github.com>
Sent: Tuesday, June 2, 2020 8:56 AM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Joanne Koch <jkoch@whoi.edu>; Mention <mention@noreply.github.com>
Subject: Re: [WHOIGit/ooicgsn-roundabout] Search Part Template for Name returns inconsistent results (#78)

@joannekoch<http

[2020-06-02 13:44] joannekoch commented on #78
Sidney's new code works perfectly and does fix this bug. Great job and thank you so much!

[2020-06-02 13:54] #78 closed

[2020-06-04 14:17] joannekoch opened #83 "Automated Testing Add/Edit/Delete Locations"
Automated Testing using Selenium IDE Plugin identified issue with Locations (under Templates) being dynamically displayed in the tree and hard to robustly write tests for that provide a consistent outcome. One solution may be to add hooks in the code specifically for testing.

[2020-06-05 13:26] ethanandrews commented on #76
@joannekoch Cancel Buttons have been added for all forms, please test out on staging. Thanks!

[2020-06-05 13:27] ethanandrews commented on #77
@joannekoch @rhmunier Both validation message issues raised here have been fixed, up on staging or testing

[2020-06-05 13:30] ethanandrews commented on #79
@joannekoch Validation for unique Part Number is now enforced at DB level. On staging for testing

[2020-06-05 13:31] ethanandrews commented on #82
@joannekoch Validation check added to form to show user error message. On staging for testing

[2020-06-08 13:21] joannekoch commented on #82
Verified validation check added.

[2020-06-08 13:21] #82 closed

[2020-06-08 13:30] joannekoch commented on #79
Testing on staging server found that non-unique Part Numbers are allowed.

Unique Part Numbers are not enforced.

[2020-06-08 13:57] joannekoch commented on #77
Some issues still persist.
1. When add Inventory, no error message for blank Part Type (required field).
2. When create new Build - there is no auto-generated Build Number assigned.

Everything else look fine.

[2020-06-08 14:11] joannekoch commented on #76
Cancel buttons still missing from the following Action choices for existing Inventories: Add Sub-Assembly, Add to Parent Assembly, Add to Build, and Assign Destination.  For Builds the following action choices are missing cancel buttons: Photo/Note, Generate Report, Take Snapshot,

All other screens have cancel buttons and they work perfectly - a very nice feature.

[2020-06-09 13:12] joannekoch opened #84 "Add Inventory - no Part Templates"
Add Inventory - when a Part Type is selected, there are no Part Templates displayed to choose from.
When page first opens and no Part Type is selected, is the only time the Part Templates are displayed.

[2020-06-09 13:17] joannekoch opened #85 "Retire Build yields blank screen"
Select a Build and click "Retire Build. The result is a blank screen and nothing happens.

[2020-06-09 14:43] joannekoch opened #86 "Delete Part Type invalidates associated Part Templates"
When a Part Type is deleted, the Part Templates that have been created with that Part Type are modified as such (no warning message is displayed):
- The Part Type in the Part Template is set to "none".  Part Type is a required field and none should not be valid.
- The Part Template is removed from the Part Template display tree and the Part Template can only be found with a Search.

[2020-06-09 18:05] joannekoch commented on #77
In addition to previous comment, an empty Part Template field error does not persist when adding a Sub-Assembly part.

[2020-06-10 19:45] rhmunier opened #87 "Cruise deployment validation issues"
The ICES, MMSI, and IMO IDs do not check for the right number of characters either too many or too few with the exception of MMSI limited to less than 2 billion something but still allows for 10 characters.

The vessel physical stats allow for negative values.

Cruise stop dates can be set to before the start date.

[2020-06-16 17:03] joannekoch opened #88 "Invalid Cost Fields yield a spinning indicator"
When a Unit Cost or Refurbishment cost of 3.0000.00 is entered for a Part Template, the screen hangs with a spinning indicator.

[2020-06-19 17:29] rhmunier commented on #87
I am not sure if this is a bug or a feature but vessels can be part of multiple cruises with overlapping time periods.

[2020-06-20 13:52] #81 closed

[2020-06-20 13:56] MarioCarloni commented on #81
Permission issue has been resolved for Calibrations, as well as Configs/Constants, by updating the object reference in the permission_required attribute for each view.

[2020-06-20 13:57] #75 closed

[2020-06-20 14:02] MarioCarloni commented on #75
Calibration UI design has been updated to include an "Add Calibration" button, as well as a new form to handle standalone Calbrations Names.

[2020-06-24 12:11] ethanandrews opened #91 "Cruises/Inventory Deployment/New History Actions testing"
@rhmunier This issue is for testing notes and listing bugs for latest development branch -  cruises-builds-dev

Branch is deployed on rdb-testing server, lots of new functionality to break.

Following functionality needs to be tested:
- Full Build Deployment cycles with Inventory
- Adding removing Inventory items at different Build/Deployment cycle stages (burn in, deployed to field, etc)
- Confir

[2020-06-25 12:23] #77 closed

[2020-06-25 12:23] #79 closed

[2020-06-25 12:23] #76 closed

[2020-06-25 14:59] ethanandrews opened #92 "Add "is_current" database flag functionality to Action model"
For @sbatchelder search/filter work, we need a way to make queries on Actions/Calibrations like the FieldValue "is_current" flag. The FieldValue version has some pain points with saving/updating, so I will look into better way with Actions

[2020-06-25 15:14] sbatchelder opened #93 "CalibrationEvent Detail View"
Currently there is no way to view the details of a previously entered CalibrationEvent.
There is currently functionality for editing a previously entered CalibrationEvent, but no view to simply display a CalibrationEvent by DB id.

Such a view would be practical for displaying CalibrationEvents from a search table or from the Inventory detail-view Calibration Events tab.

The view could be an inte

[2020-06-25 20:12] spetillo opened #94 "Allow Constant Defaults to be entered for the Part Inventory item at any point after creation of that Inventory item"
I've gone through a few revs of iteas on how to handle Constants, based on talking directly with Rebecca, getting feedback from Connor, and testing it myself to understand how all of the pieces currently fit together.

The concept I'm going for here is to be able to capture Constants (you can think of these as instrument-vendor-supplied constants) that are innately tied to a serial-numbered instru

[2020-06-26 11:52] spetillo opened #95 "Add Configuration Defaults attached to Part Templates on Assemblies"
Details forthcoming.... just want to get this in as a placeholder. Not sure whether Configuration Defaults should be tied to Part Templates on Assemblies (probably) or Builds (maybe). These Configuration Defaults would get auto-propagated to the Part in Inventory, once it is assigned to the associated Build. Thoughts?

[2020-06-26 14:50] ethanandrews opened #96 "Calibrations staging server bug - SystemExit 1 on some Inventory items"
2D Metadata editing should be enabled upon selection of one or more Coefficient Values from the Inventory Detail template.

![image](https://user-images.githubusercontent.com/5469058/85894773-66d59300-b7c3-11ea-88b3-6c43bb497de8.png)

[2020-06-26 15:54] MarioCarloni commented on #94
https://github.com/WHOIGit/ooicgsn-roundabout/tree/cal_reviewers

[2020-06-26 15:55] spetillo commented on #94
https://github.com/WHOIGit/ooicgsn-roundabout/tree/cal_reviewers

[2020-06-26 19:43] #96 closed

[2020-06-26 19:46] MarioCarloni opened #97 "Calibration Events: Coefficient Metadata: Implement selection-based editing for 2D arrays."
2D Coefficient Metadata edit functionality should be enabled when one or more 2D Coefficient Value is selected within a Calibration Event.

![image](https://user-images.githubusercontent.com/5469058/85895001-d0ee3800-b7c3-11ea-98c7-761149fffcf5.png)

[2020-06-26 22:29] spetillo opened #98 "Change "Edit Coefficient Values" page to automatically show one box for each available calibration name"
In the "Edit Coefficient Values" page for a new Calibration Event, users currently need to select a Calibration Name from the dropdown to enter a value and use the "+ Add Coefficient" link to bring up another box to select another Calibration Name to enter a value for. Instead, since each Calibration Name is required by CI to have its coefficient value filled, we should automatically show one set

[2020-06-26 22:34] spetillo opened #99 "Add ability to copy Cal Templates to other Parts."
Add ability to copy Cal Templates to other Parts.  Ex: CTDMO-G and CTDMO-Q have the same sets of Calibration Coefficient Names.

[2020-06-29 13:28] joannekoch opened #100 "No Warning Inventory will be deleted when deleting its Part Template"
Deleting a Part Template deletes its associated Inventory without a warning that the Inventory will be deleted.

Please add a warning message that the Inventory will be deleted.

[2020-07-06 13:53] MarioCarloni commented on #98
Changes for this enhancement are now testable on Staging.

[2020-07-15 20:28] spetillo commented on #98
These changes in v1.4 on Staging look good to me.

[2020-07-15 20:31] spetillo commented on #99
This is currently in dev-team testing; not yet on staging. This will go into the next release after v1.4.0.

[2020-07-16 19:36] spetillo opened #103 "Add Cancel buttons on pages for Actions: Add Calibration Coefficients & Add Configuration/Constant Event"

[2020-07-17 15:27] #98 closed

[2020-07-20 15:13] rhmunier opened #106 "Cruise inventory deployed grouping"
The individual inventory deployed list for a cruise seems to be in descending serial number order.  Grouping by sub-assembly could make working with those items easier to find and less likely to accidentally select the wrong copy of an item.

[2020-07-22 20:43] sbatchelder opened #108 "Cruise menu-item 403 Error"
This is off of the current cruises-actions-release branch. The Cruise menu item Errors with 403 Permission Denied harshly.

[2020-07-22 20:54] sbatchelder commented on #93
Additional Requirement, the view should be accessible via a url such that searched calibration events may link to the view.

[2020-07-22 21:07] sbatchelder opened #109 "InventoryDetailsView "Calibration Coefficient History" Tab does not work if view accessed via link"
The "Calibration Coefficient History" tab of an InventoryDetailsView page works fine when accessed from the Inventory nav-tree.

However, if the view is accessed via a link, say, from Search, the "Calibration Coefficient History" tab does not populate.

The workaround is, from a linked-to view, find the inventory item in question in the nav-tree, and click on it. This allows the tab to populate ag

[2020-07-22 21:10] sbatchelder commented on #109
From a search-link
![image](https://user-images.githubusercontent.com/44208509/88229117-3526df00-cc3e-11ea-9837-d69ca0c3fef1.png)

after clicking on the relevant nav-tree element
![image](https://user-images.githubusercontent.com/44208509/88229048-1c1e2e00-cc3e-11ea-81b6-3eff76f8a574.png)

[2020-07-23 17:32] #99 closed

[2020-07-24 14:40] #92 closed

[2020-07-24 19:00] ethanandrews commented on #87
@rhmunier All validation fixes (ignoring the overlapping time periods, we'll consider that a non-issue) for this issue are up on rdb-testing, please check them out. Thx.

[2020-07-27 15:54] rhmunier opened #110 "Cruise date format validation"
The cruise start and end dates no longer consider the value from the date picker to be valid date formats.

[2020-07-27 17:54] #108 closed

[2020-07-27 18:38] ethanandrews commented on #110
@rhmunier good catch, I've put in a fix for that. Should be all set.

[2020-07-27 18:38] #110 closed

[2020-07-29 18:41] ethanandrews opened #111 "Remove legacy content updates from migrations"
Updating existing content using migration files to match it to new model designs is too glitchy. Need to refactor.

[2020-08-03 15:27] spetillo opened #112 "Add "Review Requested" bubble/flag to items on left-side tree"
Add "Review Requested" bubble/flag to items on tree, so that Reviewers that are assigned to any Cal/Const/Conifg/etc. events can more easily see what they still need to review. (If an item is already Approved, with 2+ Approvers already, then the Review Requested bubble should _not_ show for the remaining Reviewers.)

[2020-08-03 15:28] spetillo opened #113 "Add Reviewer search"
Add a search feature so people can search for events where they (or any user) are set as a Reviewer, and allow that search to be filtered down to only un-Approved events, as desired.

[2020-08-03 15:39] spetillo opened #114 "Move Approvers back to Reviewers list when a previously-reviewed value is update"
When a coefficient (or similar) value is updated after being previously Approved by any number of users, move all Approvers back to the Reviewers list, and remove them from the Approvers list. Also, set the event's Approved value back to False (or however it is tracked in the database), and remove the green "Approved" indicator from the event until the approval conditions are met again.

[2020-08-03 15:41] spetillo opened #115 "Sort Reviewer selection list alphabetically"
Right now the Reviewer selection list seems to be randomly sorted and it's hard to find people. Please sort alphabetically, both in the selection list and when displaying the lists of Reviewers and Approvers on the event.

[2020-08-03 15:43] spetillo opened #116 "Add Reviewer/Approver functionality to Deployment/Recovery metadata"
Add Reviewer/Approver functionality to Deployment/Recovery metadata: lat, lon, depth, cruise, etc.

[2020-08-03 15:50] spetillo opened #117 "Change "Approve" button to "Unapprove" after a Reviewer has approved an event"
Change the "Approve" button to "Unapprove" after a Reviewer has approved an event and is moved to the Approvers list. (Right now the "Approve" button just stays there after the user has already approved, and it does nothing if clicked again.)
If a user then Unapproves the event, they should be moved back to the Reviewers list, and if the number of Approvers drops below 2, the event should have the

[2020-08-03 15:54] spetillo opened #118 "Add Reviewer/Approval functionality to Cal/Config/Const Names in Part Templates"
Add Reviewer/Approval functionality to Cal/Config/Const Names (and their metadata) in Part Templates.

![Screenshot from 2020-08-03 11-54-22](https://user-images.githubusercontent.com/11924613/89201869-21557400-d580-11ea-9ad3-6515cfc6160e.png)

[2020-08-03 16:36] spetillo opened #119 "Add an "Export with Calibrations" selection to Config/Constant entries in Part Templates"
@MarioCarloni
Add an "Export with Calibrations" column containing a check-box (boolean) selector to the Update Configurations/Constants tool in Part Templates, kind of like in the marked-up image below.
(The colors I used don't matter... I just didn't feel like fighting with Gimp any more than I had to to get the point across.)
This will help @sbatchelder more easily determine which Configs and Co

[2020-08-03 16:47] sbatchelder commented on #119
An "Export with Calibrations" or "Include in Calibrations Export" on the config/const model is enough!

[2020-08-03 23:00] sbatchelder commented on #119
Do the Config/Consts to be exported along with Calibrations need to be included in the same csv? Right now i'm exporting them on a CalibrationEvent and ConfigEvent basis.

If yes (which I think is the desired behavior), then which of any ConfigEvents for a given instrument should be the one to include?
(A) The most recent ConfigEvent overall ( because there really should be only one config/constan

[2020-08-04 20:45] spetillo commented on #119
@sbatchelder GOOD questions.

Yes.

Note:

- Constant Events are invariant. Config Events can change, and are entered on a per-deployment basis.

- Config Events will _almost_ never have the same date as a Calibration Event.

Answer: (C), but _forward_ in time only.

Explanation/Details:

- If an instrument type exports any Config or Constant information with the Calibration CSVs (or _as_ the Cali

[2020-08-05 15:29] cahearn opened #120 "Change Calibration Coefficient field inconsistencies on new Part Template entries"
"Max Calibration Coefficient decimal places" should be available as a field only when "Instruments" Part Type is selected on the "Add Part Template" form.  Currently, the "Max... places" field is only available when "Mechanical is selected, though this error is not maintained after Part Template entry.

Original description 7/29/20:
When entering a new Part Template, the "Max Calibration Coefficie

[2020-08-05 18:42] sbatchelder commented on #119
ok, so i think i have a handle on it. There are several cases, but each case will probably starts the same: generate a collection of CalibEvents and ConfigEvents-with-"export-with-CalibEvent"-rollup-flag, ordered by date on a per-instrument basis. The collection is then looped over from most-to-least-recent. Here's how I think I can handle the csv generation:

1. just CalibEvents: simple, one csv

[2020-08-05 20:53] spetillo opened #121 "Add breadcrumb for hierarchical navigation"
From @joefutrelle:

As you're navigating the hierarchy you can get to a point where you can't see the path that you took to get where you are. A breadcrumb at the top would solve that problem, although it would take up some vertical space.

[2020-08-11 13:57] #111 closed

[2020-08-11 20:02] spetillo commented on #119
In response to @sbatchelder 's previous post...

1. Correct
2. I'm unclear on (2a). What needs to be done should be able to be summarized by (2b), but also accounting for one more edge case: When there's a mix of Config and Calib Events, start with the most recent Config Event (adding all config values in _that Config Event only_) and then add in the most recent Calib Event that happened before th

[2020-08-11 21:36] spetillo commented on #119
Change "if there are multiple calib events after it" to "if there are multiple **config** events after it".

**And** we can't forget **Constants**... some of which (indicated by the "export-with-CalibEvent" flag) will also get exported with the calibrations & configs. Constants should be, well, constant, so they would not change and (if flagged) get added to the Exported Calib CSVs.

[2020-08-11 21:46] spetillo opened #123 "A Reviewer can be shown as Approving twice, or as both a Reviewer & Approver simultaneously"
I was playing with Reviewer/Approver functionality on Constant Defaults on Staging (v1.5)...
https://ooi-cgrdb-staging.whoi.net/constant_default_event/1 (Hopefully that link works for you... it gave me a 404)

If I add myself as a Reviewer (for the first time), then "Approve", then Edit Constant Defaults and add myself as a Reviewer again, I show up as both a Reviewer & Approver:

![Screenshot fro

[2020-08-11 22:14] spetillo opened #124 "Use consistent naming for Configuration stuff"
I'm working with Configurations/Constants on Staging (v1.5)...

- [x] I _think_ in this screenshot, everything should be using "Configuration". So "Edit Constant Defaults" should be "Edit Configuration Defaults", or just "Edit Defaults". Also, we should avoid abbreviating words unless we're really strapped for space, so "Config Defaults" should be "Configuration Defaults".

![Screenshot from 2020-

[2020-08-11 22:30] spetillo opened #125 "Edit Constant Defaults button does not allow editing"
On Staging (v1.5)...

Constant Defaults can be set once for Inventory items, but the Edit Constant Defaults button doesn't do anything.

![Screenshot from 2020-08-11 18-29-06](https://user-images.githubusercontent.com/11924613/89955246-92d89680-dc00-11ea-8c53-d80ce6f8cff2.png)

[2020-08-11 22:31] spetillo opened #126 "Allow removal of Reviewers"
On Staging (v1.5)...

Allow removal of Reviewers for the Reviewers list. Right now, once a Reviewer has been added, there is no way to remove them.

[2020-08-18 13:23] joannekoch opened #128 "Assembly Type Names should not have trailing 's' in Tree"
For consistency with all other screens, Assembly Types in the Assemblies Template screen should not be pluralized. They are not pluralized in the Edit Assembly Type screen. In addition, items in the Inventory, Build, Location, and Parts screens are not pluralized.

[2020-08-18 13:49] joannekoch opened #129 "Add Inventory Sub-Assembly or Parent allows Self"
It is possible to add a Sub-Assembly or Parent to an Inventory which points to itself. This action leads to a blank screen with no error.
Steps to recreate:
1. Add a new Assembly, test. Create a new revision, b. Add a Top-Level Part, test1. Add Sub-Assembly, test1 under the parent test1.  The software allows the parent and child to be the same item.
2. Add a new Inventory from Part Template, test1

[2020-08-22 12:00] cahearn opened #131 "Doubling of "Add" and "Remove" Buttons at Part Template "Configs/Consts" Entry"
If you "Edit Configurations/Constants" back on the Part Template level after values have been entered for Inventory Items, the "Add" and "Remove" buttons are doubled, a new config or const is added and the Template is updated.

![RDB_Config_Bug](https://user-images.githubusercontent.com/14059724/90955016-ceb4fc80-e447-11ea-947a-951896d78cd1.png)

[2020-08-22 12:49] cahearn opened #132 "Incorrect Labels for Constant and Configuration Entry Forms"
When selecting "Add Constants" or "Add Configurations" from "Choose Action" at Inventory Item level, the form has labeling that is incorrect.  Constants form has "Add Configurations" at top, "Configuration/Constant(s)" above entries, and "Add Configurations" on button (see screenshot below for this example).  Configurations form has "Configuration/Constant(s)" above entries.

![image](https://user

[2020-08-23 13:44] cahearn opened #133 "Errors Entering/Editing Configurations"
Entered Configurations/Constants on a Part Template.  Initially able to set Configurations on Assembly Template level, but couldn't access on the Inventory Level (see below).
![image](https://user-images.githubusercontent.com/14059724/90979730-178eb300-e525-11ea-8693-bed97ce0add0.png)

Now trying to edit on Assembly Template causes this error:
![image](https://user-images.githubusercontent.com/140

[2020-08-23 13:51] cahearn opened #134 "Add Warning When Editing Configurations/Constants with Existing Records"
Not sure what the best approach would be here.  Perhaps a warning similar to the one on Assembly Templates, which warns the user when an Assembly Templates is referenced by actual Builds in Inventory.

[2020-08-23 14:23] cahearn opened #135 "Edits to Configurations/Constants on Part Templates Makes Future Edits to Existing Default Data Inaccessible"
As I've seen it, existing data is not affected by changes to the Configs/Consts.  The complication comes when trying to update the Config Defaults on the Assembly Template or the Const Defaults on the Part Template; the Edit form populates with the new C/C, with no option to retain the older integration.  Not imagined to be a common need, but this may be an issue down the line, potentially affecti

[2020-08-23 14:29] cahearn opened #136 "Searching on "Actions" from Main Seach Bar Doesn't Work"
Searching "Actions" for anything, using the Search Bar in the upper right corner, produces errors like this:

![image](https://user-images.githubusercontent.com/14059724/90980754-5d4e7a00-e52b-11ea-8ee7-0caff98007ff.png)

Searching "Actions" from the Search Page works fine.

[2020-08-23 15:30] cahearn opened #137 "Time in Field not Properly Captured for Instruments with Post-Date Deployment of Builds"
When I Deployed a Build to the Field, I entered a date from 2 days ago.  The date picker is not working, so I edited the test of the Date field.  The Time in Field for the Build and Deployment is correct, and updating properly.

![image](https://user-images.githubusercontent.com/14059724/90982149-4ad83e80-e533-11ea-8480-5bba6160c87f.png)

 The Time in Field clocks for the individual Inventory Item

[2020-08-24 19:47] ethanandrews commented on #137
Fixes for this issue are up on staging server for testing. @rhmunier please note as well

[2020-08-26 14:51] cahearn commented on #133
Still finding this error.

Also had this happen on the Constants Edit form.  Happened once on parts that had previous problems, haven't been able to recreate:
![image](https://user-images.githubusercontent.com/14059724/91313281-35595380-e783-11ea-993d-52494d61a4a1.png)

[2020-08-27 14:09] joannekoch commented on #86
The same behavior happens with Assembly Templates.

[2020-08-27 22:13] spetillo opened #138 "Add units to Latitude/Longitude in Edit Deployment page & in History Details"
Add units (degrees N / degrees E) to Latitude/Longitude in Edit Deployment page & in History Details

[2020-08-27 22:20] spetillo opened #139 "Display latest Deployment Details under the Current Deployment Data header"
Display latest Deployment Details (Lat/Lon/Depth) under the Current Deployment Data header

[2020-08-27 22:24] spetillo opened #140 "Add a way to edit the Deployment Number after it is initially set"

[2020-08-28 04:51] cahearn commented on #136
Fix tested on Staging Server appears to have resolved this issue.  Nice work!

[2020-08-28 04:55] cahearn commented on #137
Several iterations of Fixes tested on Staging.  I hadn't been checking Time in Field data under the Deployments Tab, adding confusion to our process.
Current Fix on Staging appears to have resolved this issue.  Fabuloso!

[2020-08-28 05:01] cahearn commented on #132
Fix on Staging server has resolved this issue.  Thanks for taking care of this detail while dealing with larger efforts!

[2020-08-28 14:33] cahearn commented on #131
I'm still finding this error, but Mario has been unable to recreate it.  Potentially related to bad Staging data.  Happy to proceed. with current version.

[2020-08-28 14:49] cahearn opened #141 "Entry of Constants and Configurations References Incorrect Defaults"
When entering Constants and Configs, or when editing the Constant Defaults, for an Inventory item that appears on multiple Assemblies, the auto-populating values are being pulled from the wrong Default settings.  They appear to reference the first Defaults that were set for the first Inventory Item instance (or, in the case of Config Defaults, the first Assembly Template reference) rather than the

[2020-08-28 14:51] cahearn commented on #133
Current Fix on Staging appears to have resolved this issue.  Haven't been able to re-create the error.  Great Job!

[2020-08-29 21:00] spetillo opened #143 ""Assign Destination" to an instrument results in a blank right-side panel after a location on an Assembly is chosen"
"Assign Destination" to an instrument results in a blank right-side panel after a location on an Assembly is chosen. Also, I'm not entirely sure what the end result of assigning a destination to an Instrument in Inventory is supposed to be, since this appears to be adding an Inventory item to an Assembly Template location (that is not in Inventory).

[2020-08-29 21:06] spetillo commented on #143
To test on Staging: Land > WHOI > Instrument Lab >  FLORT-D - CGINS-FLORTD-01300 > Choose Action > Assign Destination > GI01SUMO - Revision B > [Select either destination]
This is the result right now on v1.5.0:
![Screenshot from 2020-08-29 17-05-29](https://user-images.githubusercontent.com/11924613/91646127-e711b200-ea19-11ea-9918-21c3da95dcb1.png)

[2020-08-29 21:14] spetillo opened #144 "Two Deployment Status bars show on the right panel after deploying an Instrument"
Two Deployment Status bars show on the right panel after deploying an Instrument to sea on an already-deployed Build. I think there should only be one of these bars, unless they are supposed to differ over time, but not immediately after an Instrument's deployment.

[2020-08-29 21:17] spetillo commented on #144
![Screenshot from 2020-08-29 17-11-05](https://user-images.githubusercontent.com/11924613/91646284-884d3800-ea1b-11ea-9cb2-3c759f1bfefb.png)

[2020-08-29 21:30] spetillo commented on #144
Slightly more clear what the difference in Status bars is after subsequently Recovering this FLORT-D:

![Screenshot from 2020-08-29 17-28-29](https://user-images.githubusercontent.com/11924613/91646441-47562300-ea1d-11ea-9746-460711202a34.png)

[2020-08-29 21:43] spetillo opened #145 "Fix flashing of hidden Cal/Const/Config tabs on Inventory Items assigned to Builds assigned to Builds"
When I click on an Inventory Item assigned to a Build, the Cal/Const/Config tabs very briefly appear, and then disappear.

Tested on Staging:
Sea > Global Irminger Sea > Build SMP - GI01SUMO (Deployed - D11111) > Irminger Riser >  CTDMO-Q - CGINS-CTDMOQ-08523 & CTDMO-Q - CGINS-CTDMOQ-11475

Note that neither of these two Inventory Items have Calibration Names entered for them yet, so the Cal/Const

[2020-08-29 22:10] spetillo opened #146 "Spinning wheel of doom when Copying Calibrations from one part Template to another"
I could create a new Calibration Name, but couldn't copy the Calibrations from another part.

[2020-08-29 22:15] spetillo commented on #146
Note: This happened even when I left the Name field blank at the bottom (though I had the same results with a Name filled out as well, as shown below), so it seems to be an issue with the Copying component. I could add a new Calibration name without trying to Copy anything, so that component still works. I verified that the Part Template I was copying from (CTDBP-C) does have Calibration Names cre

[2020-08-29 22:32] spetillo commented on #145
Update: In further testing, I added a Cal coefficient to CTDMO-G & CTDMO-Q part templates, and once I added a new Calibration Event to those new Coefficients, the Calibration Coefficient History tab became available, and some old Calibration Events for that Inventory item also now show up (with old Calibration Names that no longer exist). Any old calibrations (that haven't been deleted) should sho

[2020-08-29 22:47] spetillo opened #147 "Calibration Events disappear from Inventory after initial creation"
Calibration Events that contain all deleted Calibration Names show up in Search, but not in Inventory's Calibration Coefficient History, IF there are no new Calibration Events created with new Calibration Names.

Compare Calibration Coefficient History vs search on the Calibration Inventory for:
CGINS-CTDMOG-13431 (new & old Events show in CC History tab)
CGINS-CTDMOG-13419 (old events exist, but

[2020-08-29 22:51] spetillo commented on #147
Update: After I navigated away from (and then back to) CGINS-CTDMOG-13431's inventory page, I can no longer see any Calibration Events on that Inventory item, not even the new one I just created.

[2020-08-29 22:59] spetillo opened #148 "Bulk Export [CI] - Export contains some duplicate files"
See screen shot. Some files are exported with duplicate names (see files that have " (1)" in the name).

This isn't really breaking anything, so the fix doesn't need to hold up v1.5.0 release.

[2020-08-29 23:00] spetillo commented on #148
![Screenshot from 2020-08-29 18-57-23](https://user-images.githubusercontent.com/11924613/91647535-d79a6500-ea29-11ea-989c-3eaf0655f211.png)

[2020-08-29 23:06] sbatchelder commented on #148
Yes I think this is a duplicate data in the database issue. I noticed multiple same-name files during development which is why I put in the feature to annotate duplicate DB entries (calibration events for same instrument in the same day) with a number and perens (1).

[2020-08-29 23:20] spetillo commented on #125
@MarioCarloni Has this update been pushed to Staging? I'm still unable to Edit Constant Defaults.

[2020-08-29 23:32] spetillo commented on #95
Configuration Defaults have been added. They are currently only visible from the Assembly Template, and editing is not functional. I will put in tickets for these items so this one can be closed out.

[2020-08-29 23:33] spetillo opened #149 "[OBE? - Staging DB issue with this Part? Please investigate] Fix to allow Edit of Configuration Defaults"
I can add initial configuration Defaults to an Assembly Template (see first image), but I cannot edit them or add more. (I.e., there are no fields appearing under the Name & Default Value headers. See second image of same Part on the Assembly after clicking "Edit Configuration Defaults".)

![Screenshot from 2020-08-29 21-14-47](https://user-images.githubusercontent.com/11924613/91649012-e2122a00-e

[2020-08-30 01:27] spetillo opened #150 "[OBE? - Staging DB issue with this Part? Please investigate] Allow creation of Configuration Events"
Right now I can create Config Defaults on a Part attached to an Assembly Template, but I cannot create a Configuration Event. Ability to create and edit Configuration Events should occur once a Build is created, and the Events should be dated by Deployment date (or TBD).

@MarioCarloni I know this functionality has already been implemented in a branch somewhere, but it doesn't appear to be availab

[2020-08-30 01:47] spetillo commented on #94
This all seems to work. Cool!

[2020-08-30 02:00] spetillo commented on #149
**UPDATE**: This works with other Parts, but not this one. I blame the Staging DB being a bit out of whack.

[2020-08-30 02:00] spetillo commented on #150
**UPDATE**: This works with other Parts, but not this one. I blame the Staging DB being a bit out of whack.

[2020-08-30 02:05] spetillo commented on #132
I also checked this on Staging. Looks good!

[2020-08-30 02:09] spetillo commented on #131
This looks OK with the CTDBP-F & CTDMO-Q Part Templates on Staging. I think this may be a Staging DB quirk with certain Parts, as @cahearn mentioned.

@cahearn What part were you looking at?

[2020-08-30 02:18] spetillo commented on #124
Looks good

[2020-08-30 02:22] spetillo commented on #125
**UPDATE**: This doesn't work for the CTDMO-Q above (CGINS-CTDMOQ-08523, which I think has a Staging DB issue), but it **does** work for the CTDBP-F (CGINS-CTDBPF-50001) that I recently added to the deployment. I'm calling this one good to go.

[2020-08-30 02:34] spetillo commented on #147
**UPDATE**: I think this is _partially_ a Staging DB issue with this part. On a part with only new calibration events (e.g., CGINS-CTDBPF-50001, https://ooi-cgrdb-staging.whoi.net/inventory/1089), I can navigate away and back and still see all calibration events, as expected.

So, @MarioCarloni take a look at this, see if you think it's a bug vs only a figment of the broken Staging DB. If you thin

[2020-08-30 02:35] spetillo commented on #133
Also no errors on this throughout my testing today, so we're good!

[2020-08-30 02:36] spetillo commented on #103
Looks good!

[2020-08-30 02:42] spetillo commented on #118
Looking good! Tested with CTDBP-F Part Template on Staging.

[2020-08-30 02:46] spetillo commented on #131
Hold the boat! I just found this as I was editing the Calibrations on the CTDBP-F part template. I had already added "cal3" earlier without seeing this, then when I went to add another Cal Name ("cal1"), I got the doubling, too.:

![Screenshot from 2020-08-29 22-40-57](https://user-images.githubusercontent.com/11924613/91650094-25729580-ea49-11ea-8f43-10f5e4531622.png)

[2020-08-30 02:48] spetillo opened #151 "Edit Coefficient Values button does not allow editing"

[2020-08-30 02:57] spetillo commented on #114
@MarioCarloni This is almost there. See the unchecked item in the comment above. As it is now, the Approvers get fully removed instead of auto-selecting them to put them back on the Reviewers list. This is a bit of a nice-to-have, since the rest totally works. If you can get the final checkbox for v1.5.0, great. If not, the last checkbox item can go into v1.5.1 and you can change the milestone on

[2020-08-30 03:00] spetillo commented on #123
I re-tested this with CTDBP-F Constant History, and it works as expected now!

[2020-08-30 03:03] spetillo commented on #115
AMAZING! So much easier to use. Thank you!

[2020-08-30 03:51] spetillo commented on #148
Ok, so that's an intentional implementation. Makes sense. I dug in a bit further, and it's clearer now. If you do a new Bulk Export [CI] right now and look at CGINS-CTDBPF-50001__20200830*.csv files, you will see that:
CGINS-CTDBPF-50001__20200830.csv has Cals + _all_ Configs dated 20200830 (not just the ones marked "Export with CSV")
CGINS-CTDBPF-50001__20200830 (1).csv has Cals + _all_ Constants

[2020-08-30 03:54] spetillo commented on #119
The "Export with CSV" boxes have been added. some further work is needed on the Bulk Export [CI] side, which will be addressed in ticket #148 . I'm calling this ticket good to go.

[2020-08-30 03:55] spetillo commented on #148
(Just noting that this was spun out of initial work done in ticket #119 )

[2020-08-31 12:44] #136 closed

[2020-08-31 15:35] cahearn commented on #143
Tested good!  Assign Destination for "CGINS-CTDBPP-50075" did not result in blank right-hand side of screen.

As you mentioned Steph, Assign Destination is meant to identify Inventory as meant for an Assembly that doesn't have the desired Build created yet, limiting eventual options for Integration.

[2020-08-31 15:44] cahearn commented on #143
Just went back and tested as Steph requested.  New fix checks out with "CGINS-FLORTD-01300".

[2020-08-31 18:38] cahearn commented on #141
Tests good on Staging with the latest Fix!!!

[2020-08-31 18:48] cahearn commented on #135
This changes seems to have made the situation worse.  Now, when Configurations/Constants are edited or removed at the Part Template level, the existing records are affect, editing or removing the values of the associated Configs/Consts.

[2020-08-31 18:53] spetillo commented on #135
Hmm, ok, I saw that the other day while testing and separately added ticket #147 for it.

[2020-08-31 19:19] spetillo commented on #147
@MarioCarloni I was discussing this more with @cahearn, and one option would be to warn the user (when they go to remove a C/C/C Name from a template) that all historical Values for the Name would be purged from the system, and then when they click "OK/Purge" on the warning box, purge those old Name:Value pairs. That could end up causing a lot of trouble, though, if someone does a Name purge witho

[2020-08-31 19:51] cahearn commented on #145
Tested Good with current fix!  Way to go!

[2020-08-31 20:04] cahearn commented on #146
Still getting the error, only when trying to copy Calibrations.  Adding Constants/Configurations is not affected.
The Spinner actually remains at the top of the right-hand side while you continue to navigate Part Templates and the forms that appear as you make different selections within the Templates.  It finally quits once a new action is entered/added/etc.

[2020-08-31 20:07] cahearn commented on #120
Tested Good with the current fix!  Niiiiice!

[2020-08-31 20:22] cahearn commented on #151
Tested Good with current fix!  All Edit buttons operate as expected.

[2020-08-31 20:28] spetillo commented on #147
From further Slack discussion today:

Mario Carloni:world_map:  3:47 PM
I saw your note on issue #147 as well, regarding the downstream effects of deleting Cal/Const/Conf Names from the Part Template. From any of the Name creation/update forms, I could add a popup warning on-click of the Remove button for any existing row, with a short description of the downstream effects of deletion.

spetillo:n

[2020-08-31 20:36] spetillo commented on #147
I'll add a new ticket for the Deprecation feature so we can get this one ticket closed out after testing today.

[2020-08-31 21:03] cahearn commented on #147
Not sure what we're looking for from this issue at this point.  Testing update is that after removing C/C/C names from the PArt Template for PHSEN-E, the Constant and Configuration Records have disappeared from the respective Histories.  Calibration History still has the original Calibration Dates but when clicked they display no records.

Calibration Search and Constant/Configuration Search both

[2020-08-31 21:14] ethanandrews commented on #147
We’ve deployed a fresh copy of the production DB to rdb-testing.whoi.edu if anyone else wants to test outside of the staging data. Your regular logins will work on this site too.

On Aug 31, 2020, at 5:04 PM, cahearn <notifications@github.com> wrote:

﻿

Not sure what we're looking for from this issue at this point. Testing update is that after removing C/C/C names from the PArt Template for PHSEN

[2020-08-31 21:18] spetillo opened #153 "Add Deprecation feature to C/C/C Names"
Initial note to reference conversation in ticket #147

[2020-08-31 21:39] spetillo commented on #147
@MarioCarloni
On Staging:
Now, similar to what @cahearn saw, when I remove a Calibration Name from a Part Template (e.g., I removed cal3 from CTDBP-F Part Template), all Cal Events that contained Values for that Cal Name (e.g., 8/4/20 & 8/30/20 for CGINS-CTDBPF-50001) no longer show that Cal Name/Value/Notes row. If I do a Calibrations Search on that Removed Cal Name (e.g., cal3), it no longer sho

[2020-08-31 22:23] MarioCarloni commented on #147
That is expected behavior for now. Calibration Events are the housing for Names and Coefficients. The Deprecation feature will ensure that Names and related data are saved, whose Coefficient Values and Notes remain editable from it's particular Event instance.

[2020-08-31 22:36] spetillo commented on #147
Ok, sounds good! Since this is the expected behavior for now (and I think this is logical for the time being), I'm going to call this good as-is. Deprecation will be added with #153 .

I did not get to test on Testing, since I'm out of time today. This is good enough for me for this release, since we have v1.5.1 forthcoming.

@cahearn you mentioned "After entering new records, Cal Search worked bu

[2020-09-01 19:14] MarioCarloni commented on #146
Testing Notes: Copying Cal/Const/Conf Names from the UpdateView worked as expected, but copying from a new Name set failed.

[2020-09-01 19:58] cahearn commented on #131
Found several examples of the doubling
![image](https://user-images.githubusercontent.com/14059724/91899928-e3756980-ec6b-11ea-9b22-a0ad2d266a53.png)

[2020-09-01 20:06] cahearn commented on #146
Tested Good on current Staging version!  Woooo Hooooo!

[2020-09-01 20:19] MarioCarloni commented on #131
U am unable to duplicatr this issue from the same Part using Chrome and Firefox. What OS and browser are you running?

[2020-09-01 20:59] cahearn commented on #131
I'm using Windows 10, Firefox 80.0 (80?!?! 80's a thing?!?  Doesn't seem right)

[2020-09-01 21:06] cahearn commented on #135
I see no change in behavior from this fix.  Still finding that edits to C/C Defaults auto-populate when editing existing records, with no option to retain the existing values.  Also, removing C/C/C names from the Part Template removes the existing records associated with the removed names from History displays and from Calibrations Search results.  (Side note:  Constants/Configurations Search does

[2020-09-01 21:40] cahearn commented on #114
This appears good to go.  I was able to test outside of my own approvals by finding an instrument that Steph previously approved.  I'd need to setup several test accounts to test the results against a wider number of reviewers on the list.

[2020-09-02 13:50] MarioCarloni commented on #135
This is related to #147:

"That is expected behavior for now. Calibration Events are the housing for Names and Coefficients. The Calibration Events containing Name attributes of removed Part Template Calibration Names are empty, but the Event will be shown from the Coefficient History tab, as an Event technically exists. This is in preparation for the Deprecation feature. It will ensure that respe

[2020-09-02 14:20] rhmunier commented on #131
I am not seeing this in the config/const anymore but I am still seeing it in calibrations.  Double add/ remove for add calibration, triple for edit.

[2020-09-02 14:28] #87 closed

[2020-09-02 14:28] #137 closed

[2020-09-02 14:28] #143 closed

[2020-09-02 18:20] cahearn commented on #131
Encountered this on the first part I tested on new testing server

![image](https://user-images.githubusercontent.com/14059724/92021226-74f5e180-ed27-11ea-9b8f-a60ef17a2361.png)

[2020-09-02 18:26] MarioCarloni commented on #131
Running the latest version of both Chrome and Firefox, I have tried adding/editing Calibrations, Configs, and Constant Names on the Part Template level, using several instances of ADCPS, CTDBP, OPTAA, and NUTNR Parts, and have not been able to duplicate this issue.

I've tried running this in both Windows and Ubuntu with similar results.

[2020-09-02 20:26] cahearn opened #159 "Configs/Constants Search Results are Incorrect"
Config/Constants Search is missing expected results.  Seems like Search isn't finding recently added records.  Here's one example:

Looking at first Record in Configuration Hstory for 3305-00012-00001-01329 (a PRESF-A instrument), "CONFIG1" is "4444"

![image](https://user-images.githubusercontent.com/14059724/92032427-200e9700-ed38-11ea-9f97-0f72b4b381f9.png)

Searching for "CONFIG1" returns some

[2020-09-02 20:40] ethanandrews commented on #131
I'm seeing the same doubling of the delete button as Connor in Firefox: https://rdb-testing.whoi.edu/parts/839

My initial assumption is that is a Javascript issue with how that delete button is being loaded by jQuery.

[2020-09-02 20:55] sbatchelder commented on #148
I think I figured out how to address the bug.
To make things less confusing:

The Rules for grouping CSVs are:

1. C's are carried forward until the next C, but do not trigger csv writes. Only "Export with CSV" values are included.
2. A's are carried forward until the next A, but if another A is encountered before a B, a csv write is triggered for the first A (incl. C if previously encountered).
3

[2020-09-02 20:57] ethanandrews commented on #131
@MarioCarloni I messed around quickly with the JS code on the template page (`part_confname_form.html`), and if I comment out the extra config lines like this, everything seems to work fine. Is there a reason you need those extra attributes?

[code]

[2020-09-02 21:43] sbatchelder commented on #148
Fixed the New bug.
New Final Export:

**CGINS-CTDBPF-50001__20200806.csv <-- A<sub>1</sub>C<sub>1</sub>**   (no change)
![image](https://user-images.githubusercontent.com/44208509/92039408-01fa6400-ed43-11ea-80d1-8db3e738724e.png)

**CGINS-CTDBPF-50001__20200830.csv <-- B<sub>1</sub>A<sub>3</sub>C<sub>2</sub>**   Note hi2 change (from C<sub>1</sub> to C<sub>2</sub>)
![image](https://user-images.gi

[2020-09-02 21:56] sbatchelder commented on #148
Added "only Cal/Const/Config Events that are all marked as Approved should be exported for CI"
If any of the CCC's  that would be used to output a csv are not approved, the csv is not output.
This feature applies ONLY to Bulk "Export Calibrations with Configs" and "Export All [CI]" exports.

[2020-09-03 00:04] MarioCarloni commented on #131
Yes, the container class purpose is to house the remove button within a centered <td> tag. It otherwise will attach, off-centered, to the last child element within the row.

[2020-09-03 18:18] ethanandrews commented on #131
@cahearn @rhmunier I think we've now got a fix in for the Firefox bug double buttons. Can you guys please give it a test?

[2020-09-03 22:26] cahearn commented on #131
Tested Good!  I tried all the typical routes that I found this error with before and couldn't re-create it.  I'd call this one fixed!

[2020-09-04 14:57] MarioCarloni commented on #149
I think this is related to #147, which #153 should resolve.

[2020-09-04 14:59] MarioCarloni commented on #150
Related to #147, which #153 should resolve.

[2020-09-04 19:04] cahearn commented on #131
Uh Oh, just found this.  First click of "Add Calibration" was normal and I entered "cal2".  Without leaving the page, a second click of "Add Calibration" button produced the doubling as shown, without the "cal3" text.  Subsequent "Add Calibration" clicks added

![image](https://user-images.githubusercontent.com/14059724/92276274-ace35d00-eebe-11ea-99af-0e46f11b4d55.png)

[2020-09-08 17:25] ethanandrews commented on #131
Love this bug! Ok, I've got a new fix up on staging and testing to hopefully get rid of this thing. @cahearn @rhmunier Please test this out AGAIN and see if we actually got it this time.

[2020-09-08 17:41] cahearn commented on #131
I'm not seeing it anymore.  I think you squashed it, but I'll keep trying until we reach broader consensus.

[2020-09-09 15:42] ethanandrews opened #163 "docker-compose error on "tests" container locally"
@MarioCarloni and I have both tested building the local.yml docker-compose stack on our local computers and we're both getting an error on "docker-compose build" step with the "tests" container.

This error only stops the "tests" container from loading, so it's not effecting the core application functionality.

<img width="1322" alt="Screen Shot 2020-09-09 at 11 40 33 AM" src="https://user-images.

[2020-09-09 17:40] ethanandrews commented on #159
These changes are up on staging and testing for review

[2020-09-09 19:58] cahearn commented on #135
Per conversation with S. Petillo, we should consider moving to an Editing scheme where current data is listed in a column for entry and a separate column to display the defaults being pulled in.  This will enable better control of existing records during the editing process and avoids complications posed by the current method of auto-populating defaults, which overwrites historical values.

[2020-09-10 16:25] #119 closed

[2020-09-10 16:25] #115 closed

[2020-09-10 16:26] #123 closed

[2020-09-10 16:26] #118 closed

[2020-09-10 16:26] #103 closed

[2020-09-10 16:26] #133 closed

[2020-09-10 16:26] #125 closed

[2020-09-10 16:26] #124 closed

[2020-09-10 16:26] #132 closed

[2020-09-10 16:26] #94 closed

[2020-09-10 16:26] #95 closed

[2020-09-10 16:26] #141 closed

[2020-09-10 16:26] #145 closed

[2020-09-10 16:26] #120 closed

[2020-09-10 16:27] #146 closed

[2020-09-10 16:27] #131 closed

[2020-09-10 16:27] #147 closed

[2020-09-11 00:27] cahearn commented on #159
Tested good on Staging!  Updates to C/C/C are now returned in Search.  Did find a hiccup in results, but seems 50/50 that we'll pin it on issues with data on Staging...
Search for config6 returns 2 results for CGINS-DOSTAD-00126, but there's only one record shown.

---
![image](https://user-images.githubusercontent.com/14059724/92830413-49b46780-f3a3-11ea-840c-6dfecc8a23e4.png)

---

![image](http

[2020-09-14 13:18] #163 closed

[2020-09-14 13:27] joannekoch opened #166 "Download CSV for Part Tempate contains malformed Custom Field"
When Downloading a CSV for Part Templates, the Custom Field (Default) is exported as "G,o,o,d" when it should be "Good".

Why is the Default value exported and not the Actual Custom Field value assigned?

[2020-09-14 13:32] joannekoch opened #167 "Can set Custom Field value for a Part Template to an invalid value"
When editing a Part Template with a Custom Field, it is possible to set the Custom Field to a value that is not valid for that Custom Field.

[2020-09-14 13:49] joannekoch opened #168 "Download CSV for all Inventory Items yields bad gateway error in csv file"
Search for all Inventory Items (2,326 items) and Download the CSV. The resulting downloaded file containing bad gateway is attached.

<img width="425" alt="Capture" src="https://user-images.githubusercontent.com/65416034/93094021-5ec51b00-f66f-11ea-8625-e4523cf21229.PNG">

[2020-09-14 14:33] sbatchelder commented on #167
I'm not terribly familiar with the custom field code so I'm looping Ethan into this.
I'm going to prioritize other bugs from my code areas first, but if this isn't resolved by Ethan by the time i'm done with mine I'll take a stab at this one.

[2020-09-14 14:43] ethanandrews opened #169 "Add Config/Constants to Electrical Part Types"
Need to add the Config/Constant functionality to Electrical Part Types as well so we can use Constants for the Reference Designator assignments

[2020-09-14 15:05] sbatchelder commented on #159
That is curious. I have a less up-to-date version and this is what mine looks like.
**One search result returned** BUT the inventory calibration history tab is **empty**:

![image](https://user-images.githubusercontent.com/44208509/93100458-2b868a00-f677-11ea-9ec7-92f561013990.png)
I thought maybe it's a record that was previously deleted but still searchable... but thats not the case. I created a

[2020-09-14 15:17] joannekoch opened #170 "Revisit the workings/design of the Custom Fields"
The inner workings and design of the Custom Fields needs attention.

Three issues which should be addressed:

1.  If you have a Custom Field Global Field checked for a particular Part Type and you add a Part Template for that Part Type, you cannot set the Custom Field value for that Part Template on the add. You can only set the Custom Field value when editing the Part Template. Also, the default

[2020-09-14 16:16] sbatchelder commented on #168
I just performed a full inventory CSV download on my local machine and in came through fine. This might be tricky to debug/fix if I can't reproduce the issue.

It could be that the csv takes too long to generate and that the server is configured to respond with a 502 in that case. On my computer (2325 items) it does take a few minutes to compile the full csv and it would only get longer with more

[2020-09-14 16:56] joannekoch commented on #168
Hi Sidney,

Interesting…  It does take a while to compile the csv file – I timed it at 30 seconds. I can reproduce it every time on the Staging DB.

How do I get the logs and the timer settings from the Server?

Thanks,
Joanne

From: Sidney Batchelder <notifications@github.com>
Sent: Monday, September 14, 2020 12:17 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Joan

[2020-09-14 17:57] sbatchelder commented on #168
@ethanandrews
Do you know where the django logs on the server live?
Also, any advice on this timeout issue? The ooi-rdb.conf configuration file under git:/compose/production/nginx says `proxy_send_timeout 90;`

It would be possible to increase this but that's not a good solution.
Probably triggering a background job / thread on download would be a better solution, but I don't think that's a built-

[2020-09-14 18:43] sbatchelder commented on #166
The Default value is reported because Part Templates may be initiated with a default value. These default values are used when creating a Inventory item based off the templates. At the Inventory level, the default values may then also be overwritten.

This does pose a question: in a Part Templates search result (incl. download), how does one differentiate between a blank `""` default value and a n

[2020-09-14 18:51] ethanandrews commented on #166
Fix for this is up on staging and testing

[2020-09-14 19:11] ethanandrews commented on #168
The logs for nginx are in the docker volume "production_nginx" -> /var/log/nginx

The Django error for this is a System Exit 1 error, which isn't very helpful and usuall just means that the process took too long. Full stack trace is available in Sentry: https://sentry.io/organizations/whoi/issues/1893884262/?project=277745&query=is%3Aunresolved

I think @sbatchelder is correct that this will requi

[2020-09-14 22:43] spetillo opened #172 "Add release version to UI"
Put the release version on the UI somewhere so we know which version of RDB we are running on each site.

[2020-09-14 22:55] spetillo opened #173 "When updating Config Defaults after adding a new Config Name, errors are thrown (sometimes)"
![configuration default error](https://user-images.githubusercontent.com/11924613/93146090-f2243d80-f6bb-11ea-9f94-8c42fd82ea7e.png)
I added the "Reference Designator" Configuration Name to the CTDMO-Q, then assigned the Configuration Default for that Configuration to the CTDMO-Q part at 20 m "Nominal Depth" (Configuration) on the Irminger Riser on GI01SUMO Rev B's Assembly Template. This worked f

[2020-09-15 12:48] joannekoch commented on #166
Verified the fix for this issue is working on staging. Added the question, "Why is the Default value exported and not the Actual Custom Field value assigned?" to issue #170 to Revisit the workings/design of the Custom Fields.

[2020-09-15 12:48] #166 closed

[2020-09-15 13:50] sbatchelder commented on #170
Re: (3), So above when I say default value I mean a Part Template udf's set value for that template. When an inventory item is made, those Part UDF values are used as default for the inventory item. In this way, they are "default values"; it's these values that are shown/exportable. They have nothing to do with Part Types. In my mind its more clear to note these in the interface as defaults to bet

[2020-09-16 18:53] spetillo opened #174 "Remove extra comma at end of lines in CruiseInfo.csv export"
There's an extra comma at the end of every line (except the header) when exporting CrouseInformation.csv

[2020-09-16 19:08] spetillo opened #175 "Hide buttons for Export Calibrations, Calibrations w/ configs, Configs & Constants, and Export All [CI]"

[2020-09-16 21:13] spetillo commented on #148
Update: C's can trigger CSV writes, just like B's. So, in the case where we have A2 C1, the file should be dated by C1, not A2.

In real implementations, there should not be multiple B's per event date for a given inventory item, so B1 & B2 should not share the same date (this is not something you should care about in the Export logic, but just something that will be the case with real data in the

[2020-09-17 13:22] spetillo commented on #147
@joannekoch For testing: The basic thing to create a functionality test for on this card is that, when a new Calibration Event is _created_, if you navigate away from the Calibration History tab and then back to that tab, it should still show all of the Calibration Names and Values you just entered for that new Calibration Event.
In addition, we should test that when a Calibration Event is _update

[2020-09-17 13:36] ethanandrews opened #178 "Automated tests fail with timeout error"
On merging the new release branch into develop for deployemnt, the circleCI automated test build failed with a timeout error. @joannekoch is this related to using both Firefox and Chrome drivers?

<img width="1403" alt="Screen Shot 2020-09-17 at 9 34 45 AM" src="https://user-images.githubusercontent.com/39806262/93477492-16089e80-f8c9-11ea-8757-022fe54c7588.png">

[2020-09-17 13:51] joannekoch commented on #178
@ethanandrews this error is related to the inconsistent behavior of Firefox and more specifically (I believe) its Geckodriver. I have removed invoking the Firefox tests on my branch. I suggest we merge the latest changes on my branch which also include new Import/Export Tests.

[2020-09-17 14:32] ethanandrews commented on #178
Ok, please PR your branch to the develop branch then.

On Sep 17, 2020, at 9:51 AM, joannekoch <notifications@github.com> wrote:

﻿

@ethanandrews<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fethanandrews&data=02%7C01%7Ceandrews%40whoi.edu%7C631bee34782641be0f8e08d85b10d320%7Cd44c5cc6d18c46cc8abd4fdf5b6e5944%7C0%7C0%7C637359475102733206&sdata=X9PjihT%2B%2FUWXowRq%

[2020-09-17 15:39] joannekoch opened #180 "Add Enable/Disable Config/Constants & Coefficient Feature to Edit Part Types"
Make the Config/Constants & Coefficient Feature configurable in the Part Type definition.

Rational: Constants/configs & coefficients are only implemented for Instruments and Electrical Part Types and Assemblies and Inventory built from them.  If a user wishes to define a sub Part Type of Instruments and wants this feature for those sub Part Types or if a user defines a new Part Type and wants thi

[2020-09-18 17:52] MarioCarloni opened #182 "Support Import of Calibration Coefficient GitHub CSV's"
In reference to Trello TASK 25:

Support import of calibration values from CSV files (RDB-AM-101).

Support parsing current GitHub calibration CSV filenames into relevant fields (RDB-AM-102).

[2020-09-18 21:04] sbatchelder commented on #148
Alright I think I've made the code correction. Before I commit I want to make sure it's what you expect. Here are the updated rules:

The **Rules**:

1. A's are carried forward until the next A, but if another A is encountered before a B _or C_, a csv write is triggered for the first A. Previously recorded C's are included, previously recorded B's are not.
2. B's trigger csv writes, including valu

[2020-09-18 21:45] sbatchelder commented on #148
For testing this without the download buttons on the interface you can use:
`<baseurl>/export/calibration_events_with_configs` or `<baseurl>/export/CI`

Though I guess I should add those export buttons back in now for 1.5.1 and include them in this commit huh

[2020-09-21 15:07] ethanandrews commented on #169
@rhmunier This is ready for testing on rdb-testing

[2020-09-21 15:08] ethanandrews commented on #148
@rhmunier @spetillo these updates are now up on the rdb-testing.whoi.edu server.

[2020-09-21 17:29] joannekoch opened #185 "Add Cancel Button to Start New Deployment Screen"
Cancel button is missing on the Start New Deployment Screen. Create a New Build, select it, and navigate to Builld->Choose Action->New Deployment.

[2020-09-21 17:45] joannekoch opened #186 "Location is not required on Some Build Deployment Screens causing Spinning Wheel"
Start New Deployment and Initiate Burn In Screens - Current Location is not required, but when set it to '------', the software hangs with a spinning wheel.

Deploy to Field Screen - Deployment Location defaults to '-----' and is not required, when hit Update Deployment without changing the Location, the software hangs with a spinning wheel.

[2020-09-21 23:32] sbatchelder commented on #148
@spetillo and I had a chat this morning and worked out a better way to approach the problem from.
To summarize, ConfigEvents (which include Constants and Configurations, aka B's and C's) will be exported in associated-deployment pairs, including any previously available Calibrations (A's) if any.

Furthermore, to be valid a collection of exportable events, they must match (have values for all of)

[2020-09-22 01:14] spetillo commented on #148
Hmmm, I'd say (a) fail.

[2020-09-22 12:10] joannekoch commented on #178
Removed Firefox tests from Automated Tests.

Fixed with Pull Request #179.

[2020-09-22 12:10] #178 closed

[2020-09-22 13:08] joannekoch commented on #100
Also, Retire Builds deletes its associated Inventory without a warning.

[2020-09-22 22:29] sbatchelder commented on #148
Hey! So I think I have the feature working. It was hard to test because all of the available exportables failed, but for valid reasons! The only success/exception is the one test object I made (the "wozzle").

`MODE` is determined by the _part template's_ registered CCC fields.
`<inv>.assembly_part.part` is the only way that I've found to successfully access a part's CCC fields. Some inv's don't h

[2020-09-23 13:45] MarioCarloni opened #187 "Add loading indicator to Calibration Import"
Add loading indicator, either progress-bar, percent-done, or file currently being processed, to importer, as some indication that files are currently being uploaded.

[2020-09-23 18:28] MarioCarloni opened #188 "Include Filename, Calibration Name in all CSV Import validation errors"
The validation error for a file with erroneous Coefficient Values should contain:

Filename
Calibration Name
Offending Coefficient Value
Row/Column Index
Error message

[2020-09-24 16:59] MarioCarloni opened #190 "Remove duplicate errors from Import UI"
When an import validation error occurs, two errors populate in the UI instead of one. If a validation error occurs, only one error should populate in the UI.

[2020-09-24 19:06] ethanandrews commented on #140
@rhmunier @cahearn  Please test out the new "Edit Deployment" functionality, it's up on testing and staging server. It's super fun!

[2020-09-25 17:11] rhmunier commented on #140
There is no validation for lat and lon for initial deployment and lon validation is accidentally set to <80 instead of <180.

There are no checks on dates allowing for impossible timelines.  The deployed time is kept track of and correctly added even if a deployment is considered to have a negative duration.

[2020-09-25 17:43] ethanandrews commented on #140
Good catch on the lat/long typo. I’m aware of the lack of validation on the full Deployment timelines, ideally we would want to validate this dynamically on data entry, but that’s a tricky JS problem we can look at in 1.5.2. For now, I’m working on adding a standard after submission validation that should be enough for the moment.

From: rhmunier <notifications@github.com>
Reply-To: WHOIGit/ooicgs

[2020-09-28 16:46] #175 closed

[2020-09-28 17:42] rhmunier commented on #140
If the lat and/or lon field is blank, the time in field will not update.

[2020-09-28 18:20] ethanandrews commented on #140
@rhmunier I can't replicate this, time in field seems to update fine on rdb-testing if I change date with empty lat/long field. Can you confirm this?

[2020-09-28 21:01] ethanandrews commented on #140
Ok, fixes for lat/.long and date validations are now up on staging/testing for review!

[2020-09-30 12:56] rhmunier commented on #140
Ethan,

I did not see any changes for Lat/Lon validation on testing and either I forgot my password for staging or it got changed in a db rollback so have not tested there yet.  I have not tested date validation yet.

Rob

From: Ethan Andrews <notifications@github.com>
Sent: Monday, September 28, 2020 5:01 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Robert H Munie

[2020-09-30 13:12] ethanandrews commented on #140
My bad, Rob, I got my testing branches mixed up yesterday. You should see validation changes now.

From: rhmunier <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Wednesday, September 30, 2020 at 8:57 AM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Ethan Andrews <eandrews@whoi.edu>, Assign <assign@noreply.github.com>
Subje

[2020-09-30 13:59] #159 closed

[2020-09-30 14:18] rhmunier commented on #140
It might just be my resolution but the error message for the datetime validation covers up the time section and does not fade.  If that is where the error is the update needs to be canceled and redone or have an intentionally wrong date entered and then corrected with a second update.

From: Ethan Andrews <notifications@github.com>
Sent: Wednesday, September 30, 2020 9:13 AM
To: WHOIGit/ooicgsn-ro

[2020-09-30 18:39] cahearn commented on #169
Overall function tests great.  Electrical parts now have access to Constant/Configuration capabilities.

I found some quirkiness in the reviewer function that I don't remember from earlier testing.  Once the initial review list is set, it can not be changed in subsequent edits, despite new selections being accepted from the interface when clicking "Update C_____s".  I _do_ _remember_ this behavior

[2020-09-30 18:57] cahearn commented on #140
Working really well.
Validation for dates (_and times!_) up to Deployment checks out, as do the Lat Lon validations and messages.
I found no issue with the dat/time error message obscuring the fields for entry, but there look to be lots of times and ways this could be encountered.
Two minor issues:
Cruise was left blank at first for the Deployment and thus "Cruise Deployed on" was not available fo

[2020-10-02 13:58] ethanandrews commented on #180
@rhmunier @cahearn @spetillo  This feature is now up on rdb-testing for... testing:

https://rdb-testing.whoi.edu/parts/part_type/

[2020-10-02 14:30] rhmunier commented on #180
maybe not something for 1.5.2 but could we add a way to collapse the custom fields section?  Adding the CCC sections back puts them at the bottom and with the number of custom fields for some part types leads to a lot of extra scrolling.  No functional issues that I have found though.

[2020-10-02 14:41] MarioCarloni commented on #169
Note: You can enable CCC's from the Part Type template by selecting "Enable Configs, Constants, and Calibrations"

[2020-10-05 15:10] ethanandrews commented on #153
@rhmunier this is the deprecation feature  up on rdb-testing you can take a look at

[2020-10-06 20:47] joannekoch opened #193 "Build "Deployment to Field Date" Inconsistent Format on the same screen"
Please make the display of all Deployment to Field Date formats consistent with other Build display dates in the form of "Month Day, Year," and not "Month/Day/Year".

In attached Build screen the "Deployment to Field Date" of 10/4/20 should be Oct. 4, 2020 as seen on Deployments tab.

<img width="538" alt="Build Dates" src="https://user-images.githubusercontent.com/65416034/95258115-4ae68200-07f3-

[2020-10-07 19:48] sbatchelder commented on #168
I used [StreamingHttpResponse](https://docs.djangoproject.com/en/2.2/ref/request-response/#django.http.StreamingHttpResponse) to address the issue. The csv search results are streamed to the browser, keeping the request/connection alive, preventing the BadGateway error, and also improving download speed performance.

@MarioCarloni This may be relevant to your download needs.
I found [THIS](https:/

[2020-10-07 19:49] rhmunier commented on #153
What I saw causing me to assume Delete instead of Deprecate.  My resolution is 1366x768 which the laptop will not go higher than without an external monitor.

![image](https://user-images.githubusercontent.com/59926007/95379695-b7c15100-08b3-11eb-9ca2-78a9ead667fa.png)

[2020-10-14 13:00] #91 closed

[2020-10-14 14:30] spetillo opened #196 "Remove excess "Remove" & "Add Calibration" buttons when adding/editing Calibration Names"
This is related to #162, and is still an issue on v1.5.1. Not a huge issue, so this can be fixed for v1.6.1.
I was testing on Staging v1.5.1, with the Instruments > CTDBPC Part Template.
![Screenshot from 2020-10-14 10-30-33](https://user-images.githubusercontent.com/11924613/96003578-5d227a80-0e08-11eb-9e7e-c024dacd4680.png)

[2020-10-14 14:47] spetillo commented on #182
@MarioCarloni I entered all of the `CC_` Calibration Names for the Instrument > CTDBP-C Part Template, then tried to import [CGINS-CTDBPC-06841__20110518.csv](https://github.com/oceanobservatories/asset-management/blob/master/calibration/CTDBPC/CGINS-CTDBPC-06841__20110518.csv).

I ended up with an error on the first row (`CC_a0`), saying "Row: 1, Column: 1, 0.001301118 Exceeded Instrument 0-digit

[2020-10-14 15:36] spetillo commented on #182
Doh. - Thank you! Import complete. :) I imported a single file, then the remaining 4 files for that instrument. Upon brief inspection, all looks good!

[2020-10-14 15:44] cahearn commented on #144
This is clear enough for me.  It may be the case that we choose not to have both bars at some point, but this is great for now.

![image](https://user-images.githubusercontent.com/14059724/96012795-847e4500-0e12-11eb-8602-ccc25d1d1dab.png)

[2020-10-14 15:47] cahearn commented on #185
Looks Good!
![image](https://user-images.githubusercontent.com/14059724/96013283-171ee400-0e13-11eb-8194-0303dcb730df.png)

[2020-10-14 15:49] cahearn commented on #139
Nicely Done!
![image](https://user-images.githubusercontent.com/14059724/96013494-53eadb00-0e13-11eb-96ea-114bfa37c927.png)

[2020-10-14 16:04] joannekoch commented on #185
Verified cancel button added. Thank you.

[2020-10-14 16:04] #185 closed

[2020-10-14 17:40] spetillo commented on #182
Tested import of  CGINS-OPTAAD-00123 Calibrations. Single, 1D & 2D are all functional. Small learning curve, but very easy and quick to import multiple files for a single S/N instrument and multiple S/N'd instruments at once!

Noting here that we can only import a single instrument type at once, but that's not a huge deal.

@MarioCarloni I tried importing all CTDBPC Calibration CSVs at once, and a

[2020-10-14 17:51] spetillo commented on #169
@cahearn Please add the Reviewer functionality issue you found as new ticket, or add it to the appropriate existing ticket. The Doubling issue I also saw during testing the addition of Calibration Names, so I created ticket #196. Please add your notes from here to that ticket.

Once you have added/updated those tickets, we we can close this one out, since this central functionality works.

[2020-10-14 17:56] ethanandrews opened #197 "Automated Circelci tests fail in release-1.6 branch"
@joannekoch I added the release-1.6 branch to the Circleci config.yml file so the tests run on that branch. However, the automated tests fail with a Selenium error now. Can you troubleshoot? Thanks!

[code]

[2020-10-14 17:58] spetillo commented on #113
@sbatchelder On Staging, v1.5.1, I'm searching for Calibration Event Reviewers (I just added a bunch of calibration events to OPTAA-D Inventory and for CTDBP-C inventory), but I'm getting no results from the search. Any ideas why that's happening?

![Screenshot from 2020-10-14 13-56-35](https://user-images.githubusercontent.com/11924613/96027093-61a95c00-0e25-11eb-9b51-069f0c0de9cb.png)

[2020-10-14 18:07] sbatchelder commented on #113
The search keys in on a users' Name, not Username. Try "steph" or "petillo"

[2020-10-14 18:09] ethanandrews opened #198 "Complete REST API v1"
Complete v1 of the REST API for public use. Include authorization, hyperlinks, dynamic nested fields, ability to include/omit fields, and filter by all relevant fields.

[2020-10-14 18:26] cahearn commented on #140
Updates to cover minor issues with Cruise notes checks out.  Looks great!

[2020-10-14 18:27] spetillo opened #199 "Expand Reviewer search to add C/C/C Names & Defaults, Deployments, etc."
Reviewer search works for C/C/C Events, and we should add a Reviewer search for C/C/C Names & Defaults.

Ultimately, a Reviewer needs to be able to search for their name in one place, and it should come up with one list of all Events, Part Templates (where Names are entered), and Defaults, plus anything else that has Reviewer/Approver functionality, like Deployment info.

[2020-10-14 18:33] cahearn commented on #169
Roger that!  Doubling issue previously had a ticket: #131
There's a couple tests of the Reviewer functionality that are ongoing, #113 and #126 .  Probably best to pull all the lingering issues from those into a single Reviewer Review ticket.

[2020-10-14 18:36] cahearn commented on #196
Comment from #169 :

... stumble onto the doubling bug again, at the Part Template level. Tweaked slightly from any previous version I remember coming across; now the doubling only occurs on the initial C/C entry, and then on entries made using the second, doubled "Add Configurations/Constants" button.

![image](https://user-images.githubusercontent.com/14059724/96030917-a388d100-0e2a-11eb-8019-8d

[2020-10-14 18:39] MarioCarloni commented on #182
Thanks! Increasing the Coefficient decimal places limit shouldn't be an issue.

[2020-10-14 18:42] spetillo commented on #113
@sbatchelder Oooooh. Thanks! Looks pretty good.

My only critique is that there is no distinction between Configuration Events vs Constant Events that are returned during the Reviewer search (and they often have the same Event date) for a given instrument, so I needed to go clicking around in the inventory to figure out where the Reviewer was actually assigned.
Is there a way to distinguish those

[2020-10-14 18:51] cahearn commented on #113
Not much, Looks great!
A couple quirks that I'll actually include on #199 so that this issue can be cleared:

- Looks like a search on Cals or Configs/Consts in the upper right bar default searches to include "Calibration Event: Approvers" despite not highlighting that field in the selection box of searched fields on subsequent Search page.
- The style of the selection box changes between searches

[2020-10-14 18:58] sbatchelder commented on #113
@spetillo  I can put in a Type column or somesuch those changes in for a 1.5.1 hotfix pretty readily, no problem!
@cahearn to use the dropdown as a multiselect use the vertical elipses "⋮" button left of the dropdown. I think it has hovertext. not sure how to i'd make that behavior differently, but i'm working on revamping that interface with variable-relevant widgets.
Your first bullet sounds lik

[2020-10-14 19:26] spetillo opened #200 "Merge all Import functionality into a single UI"

[2020-10-14 19:50] sbatchelder commented on #113
@cahearn
Question: Do you want the searchbar for CCC to include searching on Reviewers, Approvers, both, or neither?
whatever the case they should appear in the list afterwards.

[2020-10-14 19:53] joannekoch commented on #197
Hi Ethan,

The fix for this is already on my automated_tests branch. Should I submit a pull request for my branch to be merged to 1.6?

Thanks,
Joanne

From: Ethan Andrews <notifications@github.com>
Sent: Wednesday, October 14, 2020 1:57 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Joanne Koch <jkoch@whoi.edu>; Assign <assign@noreply.github.com>
Subject: [WHOIGit/o

[2020-10-14 19:54] ethanandrews commented on #197
Yes, please!

From: joannekoch <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Wednesday, October 14, 2020 at 3:53 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Ethan Andrews <eandrews@whoi.edu>, Author <author@noreply.github.com>
Subject: Re: [WHOIGit/ooicgsn-roundabout] Automated Circelci tests fail in release-1.6 bra

[2020-10-14 19:54] cahearn commented on #113
I would have the searchbar include both Reviewers and Approvers.
Thanks for the tip on the multiselect option!

[2020-10-14 19:57] cahearn opened #201 "Reviewer Search refinements"
[From #169 ]  "I found some quirkiness in the reviewer function that I don't remember from earlier testing. Once the initial review list is set, it can not be changed in subsequent edits, despite new selections being accepted from the interface when clicking "Update C_____s". I do remember this behavior. However, when trying to update C/C after I have approved, I am only added back to the approver

[2020-10-14 21:15] spetillo commented on #182
As per our discussion in the meeting today, let's up it to 32.

[2020-10-15 17:39] joannekoch commented on #197
Hi Ethan,

That’s strange. I had 3 successful runs on my branch today in circleci.

I’m running yours again to see if it’s a timing issue. There hasn’t been a code change on your branch that no longer allows 2 locations with the same name?

Also, do you know if Sidney is working today. I sent her 2 emails but I haven’t heard back from her.

Joanne

From: Ethan Andrews <notifications@github.com>
Se

[2020-10-15 18:08] ethanandrews commented on #197
No, no changes in the location model. Merge the 1.6 branch back into your local branch to get all the current code for your local testing.

I don’t know Sidney’s schedule today.

From: joannekoch <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Thursday, October 15, 2020 at 1:39 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>

[2020-10-15 19:02] joannekoch commented on #197
Hi Ethan,

I merged 1.6 into my branch and built from a clean slate. When I add a location, I get the spinning wheel (see below). The spinning wheel is present on the delete location and adding a part template too.

My tests are failing because everything is running very slow.

Joanne

[cid:image001.jpg@01D6A304.23882550]

From: Ethan Andrews <notifications@github.com>
Sent: Thursday, October 15,

[2020-10-15 19:04] MarioCarloni commented on #190
Duplicate of #196

[2020-10-15 19:04] #190 closed

[2020-10-15 19:23] ethanandrews commented on #197
Ok, interesting. Guess the tests work! I will close this and take a look.

From: joannekoch <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Thursday, October 15, 2020 at 3:02 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Ethan Andrews <eandrews@whoi.edu>, Author <author@noreply.github.com>
Subject: Re: [WHOIGit/ooicgsn-

[2020-10-15 20:05] #197 closed

[2020-10-15 21:34] spetillo commented on #182
Interestingly, (after your latest update to increase the `Max Calibration Coefficient decimal places` limit) I didn't change the `Max Calibration Coefficient decimal places` value (which I had previously set at 20), tried the import again, and it worked without complaint. The number the validation was failing on would have had exactly 20 decimal places, so perhaps this was an edge case?

I am also

[2020-10-15 21:36] spetillo opened #205 "Spinning wheel of doom when trying to add or copy Calibration Names to Part Templates in v1.5.1 Staging"
I'm now getting a spinning wheel of doom when trying to add or copy Calibration Names on Part Templates to finish testing the increased decimal places on Staging v1.5.1.

Spinning wheel persists after navigating to another Part and does not disappear until the page is refreshed.

Tested with:
CTDBP-D (trying to copy from CTDBP-C)
DOSTA-D (trying to add new Calibration Names from scratch)

![Screen

[2020-10-15 21:48] spetillo commented on #113
Both updates are looking good to me! Thanks!

[2020-10-16 16:49] spetillo commented on #182
Re-tested with CTDBP-C, CTDBP-D, DOSTA-D & DOSTA-J after all bugs were worked out and max decimals upped to 32. Looks great!

[2020-10-16 16:50] spetillo commented on #205
Resolved with a Staging DB refresh

[2020-10-16 19:15] spetillo opened #206 "All Configuration & Constant Events for an Inventory Instrument all show same date or TDB"
@MarioCarloni Can you go on Staging and take a look at CGINS-ADCPTF-20530 in Inventory? I had deployed this instrument on deployment T0003 (formerly named "T0001" in the first screenshot) and then T0002 on Pioneer.

I'm seeing duplication of the deployment date in the Constant History & Configuration History for T0003 (formerly "T0001", shows 4/24/20) and T0002 (should be 10/22/18 as set/shown in

[2020-10-16 19:37] spetillo opened #207 "Do not duplicate C/C/C Events if a CSV gets imported twice"
As of v1.5.1, if a CSV is imported more than once, we end up with new/duplicated Calibrations Events for a given Calibration Date. Instead, the import should overwrite any existing Calibration values for existing Calibration Events of the same date.

if RDB has extra Calibration Name/Values (not in the CSV) for an existing Calibration Event, those should remain untouched upon re-import of the CSVs

[2020-10-16 20:45] spetillo opened #208 "Allow retroactive addition of Constant & Configuration Events while Build/Inventory is not actively deployed, if feasible"
We can edit existing Constant & Configuration Events in history right now, but we can only add them during a deployment. After going through testing and usage, I have found that it would be much easier to use if - at any time - we can add Constant Events to Inventory Parts and Configuration Events to Builds.

I'm not sure if this is possible/feasible due to the ability and need to move inventory o

[2020-10-16 21:03] spetillo opened #209 "Import Notes with Cruise Import"
All currently-imported cruises are missing their notes, as of v1.5.1.

Perhaps this is resolved with newer versions?

[2020-10-16 21:20] spetillo opened #210 "On Vessel import/creation, allow "Active" and "R2R" fields to be left empty or set as "Unknown" (currently both default to "Yes")"
Right now there is at least one vessel in the shiplist.csv that has both of these fields empty, but they show up as "Y" in the Vessel list and CSV export from RDB. These should either be left empty (to create an exact CSV export) or set to "Unknown".

Note: shiplist.csv is not actually used by the CI-side software, so these two fields do not need to be booleans.

[2020-10-16 21:32] spetillo opened #211 "Remove two sets of excess quotes on the Value field for exports, and add ACS- prefix to OPTAA S/Ns"
1. I'm seeing excess quotes in the DOSTAD  & OPTAAD CSV exports from v1.5.1.

In this screen shot, the file I imported is on the left, and the file I exported is on the right.

![Screenshot from 2020-10-16 17-31-45](https://user-images.githubusercontent.com/11924613/96310708-e3d88280-0fd5-11eb-8cdc-b396d38b2c93.png)

2. We need to add ACS- prefix to OPTAA S/Ns to make the imports = exports

![Scre

[2020-10-16 21:45] spetillo commented on #148
Looking good from what I can test right now!

[2020-10-17 00:02] #205 closed

[2020-10-17 14:42] #182 closed

[2020-10-19 13:55] joannekoch opened #212 "Search for Constants Event Date yields Django core error & Reviewer & Event Date yields no results"
1.	Search on event date yields Django core error.
<img width="700" alt="Search 1" src="https://user-images.githubusercontent.com/65416034/96459066-abac8c00-11ef-11eb-90f5-084a7f22d949.PNG">
<img width="735" alt="Search 2" src="https://user-images.githubusercontent.com/65416034/96459080-b109d680-11ef-11eb-8db3-c11b13f8ad6e.PNG">
2.	Search for reviewers yields no results.
<img width="1111" alt="Sear

[2020-10-19 23:48] sbatchelder commented on #212
1. This error was caused by a typo in the backend. I can submit this fix for 1.6.0
2. Does username "admin" have a Name associated with it? The search keys-in on user.name, not user.username.
3. This one is tricky. Date Entered aka created_at is stored as a datetime, so an "exact" match has to match YYYY:MM:DD hh:mm:ss. It's silly to expect this of users ofc and I'll fix it.

2 and 3 can addressed

[2020-10-20 13:17] joannekoch commented on #212
Username "admin" does not have a Name associated with it.  Admin is created automatically by Django. Ethan would know more about it.

[2020-10-20 13:32] joannekoch opened #213 "Misleading Error when entering 2D Calibration Coefficients"
Entering Calibration Coefficients "1 2 3" for 2D Calibration Type on Part Template assigned to an Inventory results in the error: File: , Calibration Name: , Row: 1, Column: 1, 1 2 3 is an invalid Number. Please enter a valid Number (Digits + 1 optional decimal point).

Please change error message to include that commas are required when entering multiple values.

Entering "1, 2, 3" results in no

[2020-10-20 13:46] joannekoch opened #214 "Adding Depreciated Calibrations result in an event but no data"
Adding a Calibration Coefficient that is Depreciated is allowed for a Part Template assigned to an Inventory. When the command is executed the Calibration Coefficient History states that a Calibration Event is first added to RDB,  no but coefficient data was added (or allowed to be added).

<img width="527" alt="Depreciated" src="https://user-images.githubusercontent.com/65416034/96594272-6e600100

[2020-10-20 14:38] joannekoch opened #215 "Conflicting Calibration Significant Figures Entry Error Messages"
Enter a Significant Figure of 99 for a Part Template Calibration. Get error: Input must be between 0 and 20.

Enter 0 and get error: Ensure this value is greater than or equal to 1.

[2020-10-20 19:24] joannekoch opened #216 "Calibration Data for a Part Template can be created without specifying any data"
It is possible to create empty Calibration data for a Part Template.

Select "Create Calibrations" for a Part Template. Select the Reviewers and Select "Add Calibration(s)". Do not specify a template to copy or a calibration name.

No error message is displayed and a Calibration Event is created with no data.

[2020-10-20 20:43] spetillo commented on #215
To add to this, that message should be updated to "Input must be between 0 and 32" if you're running v1.5.1 or newer... Ideally, 32 should be referenced by it's variable in the code for this error message, so that this will dynamically update.

[2020-10-21 17:18] joannekoch opened #217 "Create/Edit Vessel Fields Validation Error"
For Max Speed, Length, and Max Draft entries, enter 0.01 and get error: Ensure this value is greater than or equal to 0.01.

Also, User is forced to guess the range of values with the following error message "clues":
Enter .01 and get error: Ensure that there are no more than 1 decimal place.
Enter 9999.9 and get error: Ensure that there are no more than 4 digits in total.
Enter 9999 and get error

[2020-10-21 20:04] sbatchelder opened #219 "Search on both Name and Username automatically"
An a situation where one needs to search against users, the query should automatically search both for matching users' Name and Username

This will address (2) from Issue #212
because the "admin" user has no Name field

[2020-10-21 20:11] sbatchelder opened #220 "Searches against a Datetime field with a Date should return results for that date"
Many db models have a created_at Datetime Field, eg "2020-10-20 10:20:20"
Currently, to search for objects created on a particular date, one must specify a start and end date, ie >=2020-10-20 & <= 2020-10-21. The full datetime timestamp could be specified, but this is extremely cumbersom.

The search interface should take care of these details automatically.
This enhancement would apply to other D

[2020-10-21 20:17] sbatchelder commented on #212
(1) has been addressed in PR #218 for 1.6.0

(2) and (3) were moved to their own Issues, #219 and #220 and to milestone 1.6.1

As such this Issue divests itself from (2) and (3) and can be closed once Review for (1) is resolved.

[2020-10-22 18:54] spetillo commented on #206
This looks great now from the Config History & Constant History tabs. Thanks @MarioCarloni !

![Screenshot from 2020-10-22 14-47-37](https://user-images.githubusercontent.com/11924613/96916451-93e63980-1475-11eb-88f6-4b3aca9e28c5.png)

@sbatchelder Now I need the exports to match. I get 2 different exports for CGINS-ADCPTF-20530 for 2020/04/24, even though I should get one for 2020/04/24 and one f

[2020-10-23 00:46] sbatchelder commented on #206
fixed this issue. Export dates now key off of deployment_to_field dates.

A funny thing I noticed, even though created a hotfix branch from release-1.5.1, I did not see Mario's code changes from #221
(specifically [these changes](https://github.com/WHOIGit/ooicgsn-roundabout/pull/221/commits/e8bf013a2ece491fc3179111829b53d1f67c0c18)). Which is a little weird, but did not affect my fix.

How exactl

[2020-10-23 14:30] spetillo commented on #206
@sbatchelder Mario's changes got merged into v1.5.1 with #222 instead of #221. I just checked that they are in the v1.5.1 branch. Also, your changes look good, so we're good to release!

Once v1.5.1 is released, everything in `release-1.5.1` should get merged forward into v1.5.2 and v1.6.0+ branches to propagate forward all changes. Similarly, v1.5.2 changes should be regularly merged into v1.6.0+

[2020-10-23 19:38] MarioCarloni opened #224 "Generate relevant Configuration / Constant Events from Calibration Imports"
Some instrument data (ADCP, METBK) contains Configuration and Constant Event data, as well as Calibrations. However, the current import functionality does not discern between generating Calibration vs Config/Constant Events.

Create functionality to generate Config and Constant Events from instrument CSV's containing them.

[2020-10-26 12:33] #139 closed

[2020-10-26 16:59] spetillo opened #225 "Can't change Part Template Types for Parts on existing Assembly Templates"
From Lucy Norton 10/26/20:
With the new [v1.5.1] update to Demo I went to check and see if the problem I'd been having (where part types on existing ATs cannot be changed) was resolved and it still wasn't working. I did some troubleshooting and the feature currently also doesn't work for me on Staging, unlike before [where it had been working on Staging with v1.5.1]. Interestingly, when I try to c

[2020-10-27 14:41] joannekoch opened #226 "Search for Builds yields ValueError Screen"
When attempting to Search for Builds, a ValueError screen is thrown on rdb-testing.whoi.edu and release 1.6 in Docker. This is repeatable and happens every time.

<img width="923" alt="ValueError" src="https://user-images.githubusercontent.com/65416034/97316914-a9c27880-1840-11eb-945a-5dec4d862d11.PNG">

[2020-10-27 15:45] spetillo commented on #212
Not for testing: PR #218 has been merged, so we just need to test that (1) above is resolved when we do testing on this ticket.

[2020-10-27 17:53] #225 closed

[2020-10-27 18:00] ethanandrews commented on #226
@joannekoch fix for this is now up on rdb-testing.whoi.edu, please test it out. Thx!

[2020-10-27 18:04] joannekoch commented on #226
It is working as expected. Thank you.

[2020-10-27 18:04] #226 closed

[2020-10-29 16:29] #206 closed

[2020-10-29 16:29] #169 closed

[2020-10-29 18:26] fcarvalhopacheco opened #228 "Installation Instruction"
Hi,

Is there any clear installation instruction to follow? For example, [ SEE THIS LINK](https://github.com/webbpinner/OpenVDMv2/blob/v2.3/INSTALL.md)

Cheers

[2020-10-30 05:56] #228 closed

[2020-11-02 18:58] joannekoch opened #229 "Detail Screen Blank after Delete Calibration"
After Deleting a Calibration for an Inventory or Part Template, the detail information screen is blank for the selected item in the Navtree.

<img width="929" alt="Capture" src="https://user-images.githubusercontent.com/65416034/97907486-5bffb180-1d13-11eb-8cfe-4fdf749ba1ff.PNG">

[2020-11-03 22:14] spetillo commented on #149
Tested on Staging with the updated DB, and this works fine. (I also had to add this Part to the Irminger Riser assembly of the old GI AT that is now on the refreshed Staging DB, so that might have been part of the issue as well.)

[2020-11-03 22:14] #149 closed

[2020-11-03 22:39] spetillo opened #231 "Inventory Part details inaccessible after deleting all Constant Defaults from that Part"
I broke CTDMO-Q - CGINS-CTDMOQ-08523 Inventory on Staging by deleting the Constant Defaults when I had a Constant Event already created for that Constant Name at the time that I deleted the Default. The way it "broke" is that I can no longer access anything on that inventory item (nothing loads on the right panel when I click on that item in the inventory tree on the left). At this point, I can't

[2020-11-04 15:07] spetillo opened #233 "Collapse Custom Fields section in Part Templates"
The CCC sections end up at the bottom of the Part Templates' right-side panels, and with the number of custom fields for some Part Templates this leads to a lot of extra scrolling.

[2020-11-04 15:43] spetillo opened #234 "Don't return Search results for Part Types with CCCs disabled"
Related to updates from #180 & #235 : Previously-entered CCC Events will show up in Search, even when the CCCs are disabled for a given Part Type. This isn't particularly an issue, but could be confusing if CCCs were made for some Part Types and then disabled/hidden from viewing & editing, but show up as "phantoms" in a search.

I would suggest doing a check for the CCC Enable/Disable state that g

[2020-11-04 15:47] spetillo commented on #180
I submitted @rhmunier 's comment above as #233 .

This feature works well! On Staging, I tried enabling/disabling all Part Types, including Instruments that already had CCCs associated with Inventory. Disabling hid existing CCCs and associated tabs/functionality/menu iitems, and Enabling showed them again, as expected.

I added a follow-on card #234 to later address/hide the Disabled CCC Events th

[2020-11-04 15:47] #180 closed

[2020-11-04 15:52] spetillo opened #235 "Don't Export CCCs for Parts Types with CCCs disabled"
Related to updates from #180 & #234: Previously-entered CCC Events will get Exported, even when the CCCs are disabled for a given Part Type. This isn't particularly an issue, but could be confusing if CCCs were made for some Part Types and then disabled/hidden from viewing & editing, but show up as "phantom" CSV files containing CCC values that are otherwise inaccessible in the RDB UI.

[2020-11-04 15:52] joannekoch opened #236 "Fields Missing for Cruise and Vessel (non-CI) Export"
The following fields are missing for export:

Vessel: Notes

Cruise: Friendly Name, Destination

[2020-11-04 15:54] joannekoch opened #237 "Cancel Button missing for Edit Vessel and Cruise"
Please add a Cancel Button on the Edit Screen for Vessels and Cruises.

[2020-11-04 16:01] joannekoch opened #238 "No Warning Deleting a Vessel on a Cruise"
Delete a Vessel on a Cruise. Edit the Cruise and see that the required Vessel Field is set to "------". This is an invalid state for a Cruise.

Please add a warning message when deleting a Vessel on a Cruise it will delete its associated Cruise.

[2020-11-04 16:16] spetillo commented on #236
For **CI-required** Exports, Cruises Friendly Name and Location (I don't see a Destination field) and Vessel Notes should not be included, since they are not columns in the original CI CSV files.

Reference CI Cruise CSV:
https://github.com/oceanobservatories/asset-management/blob/master/cruise/CruiseInformation.csv

Reference CI Vessel CSV:
https://github.com/oceanobservatories/asset-management/b

[2020-11-04 16:40] spetillo opened #239 "Add a "Go To [Part/Assembly/Part on an Assembly/Location] Template" button or menu item to everything in Inventory"
Add a "Go To [Part/Assembly/Part on an Assembly/Location] Template" button or menu item to everything in Inventory (& Builds).

Right now it is a click-intensive process to move between Inventory and Templates, and it involves remembering where in the hierarchy tree you were working in Inventory when you go to the Template side to look for the "origin" of your Part, Assembly, or Part on an Assembl

[2020-11-04 16:43] spetillo commented on #150
Re-tested on Staging. This doesn't seem to be an issue anymore.

[2020-11-04 16:43] #150 closed

[2020-11-04 19:43] spetillo commented on #135
This ticket appears to be solved. Config/Constant Values in existing Events (while either editing those values or just viewing them) do not get overwritten when Config/Constant Defaults are updated.

[2020-11-04 20:41] spetillo commented on #153
@MarioCarloni In testing on Staging (I did my testing with Configurations for CGINS-ADCPTF-20530), I found a couple of quirks, but this feature generally works as laid out in #147.

Quirks:

1. If I Remove a CCC Name, I get two warning modals that say the same thing, except the second has a check box so I can silence the warning. Only one modal (with the check box option) should be shown.

2. If I

[2020-11-04 20:59] spetillo opened #240 "Remove extra warning modal upon CCC Name Removal"
From testing #153 (Deprecation feature):
If I Remove a CCC Name, I get two warning modals that say the same thing, except the second has a check box so I can silence the warning. Only one modal (with the check box option) should be shown.

[2020-11-04 20:59] spetillo opened #241 "Auto-delete empty CCC Events upon Removal of last remaining CCC Name from that Event"
From testing #153 (Deprecation feature):
If I Remove a CCC Name, and that is the only CCC left for an Event, that Event remains with no Names or Values showing. This empty Event should be deleted automatically. (I can at lest delete it manually for now.)

[2020-11-04 21:00] spetillo opened #242 "Allow entry of new Config/Constant Defaults after new(er) C/C Names are added"
From testing #153 (Deprecation feature):
If I add a Default to a first Config/Constant Name that exists, then add a second (new) Name in the Part Template, then try to Edit the Defaults to add a default for the second Name, it only shows the Default for the first Name. There is no way to add a Default for the second Name that was added later.

[2020-11-04 21:09] spetillo commented on #153
Since the core of the Deprecation feature is working as expected and tickets have been made for the aforementioned items, I will close this ticket out. Nice job on this @MarioCarloni !!

[2020-11-05 16:41] #135 closed

[2020-11-05 16:41] #153 closed

[2020-11-06 18:55] MarioCarloni commented on #240
Release 1.6.1 contains fixes related to both the warning modal, and duplicate add/remove buttons, so will move this issue to Review in Progress while 1.6.1 is being tested.

[2020-11-06 19:10] spetillo commented on #242
Looks good!

[2020-11-06 19:11] #242 closed

[2020-11-06 19:19] MarioCarloni opened #245 "Add "Required" field designation"
In reference to Trello TASK 17:

**RDB-AM-050**:
RDB shall check that all required values are entered.

*Description*: Want to compare new files against similar existing files in RDB to check that all fields are filled and have required data/info

*Comment*:

RDB does NOT currently have a concept of “required” fields, but this could be added.

What kind of Required fields are we talking about?
-->

[2020-11-12 17:21] joannekoch opened #246 "403 Forbidden Screen Displayed when Inventory User Role Selects Cruises"
"403 Forbidden Screen" is displayed when a User is logged in as an "Inventory Only" User Role and then the User selects "Cruises".

[2020-11-13 18:30] spetillo opened #247 "Change the "Max Calibration Coefficient decimal places" default to 15"
In short, let's change the "Max Calibration Coefficient decimal places" default to 15.

Reasoning: The "Max Calibration Coefficient decimal places" configuration is somewhat redundant at this point with the sig fig limits also set when you initialize CCC coefficients in the Templates. In addition, the "Max Calibration Coefficient decimal places" default to 0 trips people up more than necessary, an

[2020-11-13 20:37] #140 closed

[2020-11-13 20:50] #237 closed

[2020-11-13 21:04] #238 closed

[2020-11-13 21:38] #217 closed

[2020-11-17 14:55] spetillo opened #248 "For Builds, display Assembly Template name before the Build number"
For Builds, display Assembly Template name before the Build number (instead of the current display of [Build #]-[AT name]). This will make the ordering consistent with the [name]-[(serial)number] display for Inventory Parts on the Build.

[2020-11-17 15:00] spetillo opened #249 "Do not allow duplication of Assembly Template names"
When copying an Assembly Template, an AT name the same as an existing AT should not be allowed.

[2020-11-17 15:07] spetillo opened #250 "Allow the user to select the Assembly Template Revision to copy to a new AT"
Right now AT copying defaults to only copying the most recently-dated Revision to the new AT. In order to copy an older Revision to a new AT, the user needs to change the date to fake it to be the Revision to be "newest" by date, then copy it, then change the original AT Revision's date back to the original.
We should allow the user to select the Assembly Template Revision to copy to a new AT.

[2020-11-17 15:08] spetillo opened #251 "Allow the inventory tree left-side pane to be adjustable in width"

[2020-11-17 15:14] joannekoch opened #252 "No Error Message for Import Calibration CSV when no Calibration Coeff Values defined for Part Template"
When no Calibration Coefficient Values are defined for the Part Template (associated with the imported Inventory Serial Number) and you Import a Github Calibration.csv, you get a green "Import Complete" message. But, the import fails with no error message displayed. (The import succeeds when the same csv file is imported after Calibration Coefficient values are defined.)

When you try to import 2

[2020-11-17 15:23] joannekoch opened #253 "Upload Github Calibration with no Reviewer Selected"
The Reviewer is a mandatory field when creating  Calibration Coefficient values for an Inventory, but the Upload Github Calibration allows you to upload and create Calibrations with no Reviewer selected. The resulting upload creates Calibrations with the Reviewer blank.

[2020-11-17 15:40] joannekoch opened #254 "Import Github Cruise.csv creates wrong Vessel Name and Designation"
When a Github Cruise.csv is imported, it creates Vessels even if they already exist.

For example on import, the Vessel Name is set to R/V Atlantis and the Designation is blank. The Vessel Name should be Atlantis and the Designation should be R/V.

If a Vessel had already been imported with the correct Name and Designation, the Cruise import creates a new Vessel (with the wrong name and designatio

[2020-11-17 16:20] joannekoch opened #255 "Import Multiple Github Csv files only Imports the first file"
Tried to  Import  Github Calibration, Cruise, and Vessel files on the same Upload Github CSVs screen (see attached) and only the Calibration file was imported.

Likewise, tried to Import a Github Cruise and Vessel file on the same Upload Github CSVs screen, and only the Cruise file was imported.

<img width="389" alt="Capture" src="https://user-images.githubusercontent.com/65416034/99416365-c64554

[2020-11-17 17:27] MarioCarloni commented on #253
This is expected behavior. Closing.

[2020-11-17 17:27] #253 closed

[2020-11-17 19:33] ethanandrews commented on #138
Just a quick question on this one, mostly from my own lack of knowledge here. As we're using decimal degrees, does the North/East labeling still apply? I mostly deal with geo coordinates in mapping software, and they're usually just labeled with a degree symbol or nothing.

[2020-11-17 20:41] ethanandrews commented on #209
This works as expected in v1.6.1, Cruises just need be reimported in prod when deployed

[2020-11-17 20:41] #209 closed

[2020-11-17 21:15] joannekoch opened #257 "Upload Cruise CSV Creates Incorrect Start & Stop Times"
When Uploading a Cruise.csv file, all the Cruise Start and Stop Times are imported as Midnight.

But not all the Start and Stop Times in the uploaded file are Midnight.

Also, the second line in the uploaded csv file is a Placeholder for Unrecovered CUIDs. The imported file has N/A for a ShipName, but the exported Cruise file has a "blank" which invalidates automated testing file compare.

[2020-11-17 22:13] spetillo commented on #138
Yes, the direction labeling gives the user reference for which directions are the positive axes, at a minimum, and at a maximum they help keep the user from doing something dumb like entering latitude in the longitude field when you're exhausted and entering data while you're on the ship.... It happens.

We can do this one of two ways:
1. +/- degrees N and +/- degrees E, _or_
2. + degrees N/S and

[2020-11-18 14:42] #85 closed

[2020-11-18 14:45] #88 closed

[2020-11-18 16:20] joannekoch opened #258 "Max Speed has wrong value when Upload Vessel Github CSVs"
When Vessel Github CSV files are uploaded, the Vessels are created with a Max Speed equal to the Max Draft Values in the csv file.

[2020-11-18 18:58] #257 closed

[2020-11-18 19:08] ethanandrews commented on #254
There are some issues with data discrepancies in how OOI names vessels in the Vessels.csv vs. Cruises.csv. We will notify OOI again about issues and reconsider the validation process after they fix.

[2020-11-18 19:21] #258 closed

[2020-11-23 06:00] cahearn opened #260 "Add CCC Values to API Endpoints"
Please confirm CCC values are accessible via API.

J. Futrelle mentioned this in #rdb_api Slack channel, E. Andrew and S. Petillo added discussion:
joefutrelle  10:23  11/18/2020
Looking at this inventory item in the UI: https://rdb-demo.whoi.edu/inventory/1062/ I can navigate to configuration values, but in the API I don't see a way to do that https://rdb-demo.whoi.edu/api/v1/inventory/1062/. Wha

[2020-11-23 06:07] cahearn opened #261 "Add API Endpoint(s) for CI & OMS++ Integration"
Per #rdb_api Slack channel conversation, 11/17/2020, Please add API Endpoint(s) to facilitate CI Integration of RDB.

Rough Draft example provided by J. Futrelle & M. Chagnon
![image](https://user-images.githubusercontent.com/14059724/99933043-dc6c6d80-2d27-11eb-87ae-4c83373191e8.png)

[2020-11-23 14:47] joannekoch opened #262 "Download CSVs from Search Screen is Broken"
Automated Testing on Rdb-testing.whoi.edu discovered Downloading CSVs from the Search screen is broken.  See attached download file.

<img width="532" alt="Capture" src="https://user-images.githubusercontent.com/65416034/99975785-a7383d80-2d70-11eb-97d0-ba6f07512705.PNG">

[2020-11-23 14:58] joannekoch opened #263 "Bulk Export Calibrations CSV Field Errors"
The following field errors occur when Bulk Export Calibrations:

1. All Serial Numbers in the csv file are blank.

2. Some Values in the csv file are: "SheetRef:scalib2" and there is an .ext file in the downloaded zip folder. I'm not sure why there are .ext files.

[2020-11-23 15:04] joannekoch opened #264 "Bulk Export Vessels with Empty Active and R2R fields Exports Nothing"
If a Vessel has empty Active and R2R fields, the Vessel is not exported in the Bulk Export File.

[2020-11-23 18:12] cahearn commented on #211
Both issues are fixed for specific CSVs and do not appear elsewhere in my recent testing on Staging.  Good to go!

[2020-11-23 18:24] cahearn commented on #168
All Gateways Good in recent testing of CSV Download of Full Inventory Search!  2960 items now returned from Staging, ~30 seconds.  All good!

[2020-11-23 18:44] cahearn commented on #212
The error described in (1) above has been fixed in testing on Staging.  Good to go!

[2020-11-23 19:27] spetillo commented on #263
@joannekoch For (2), is your `scalib2` a 2D array? For 2D arrays, the expected behavior is that Values end up in the .ext files, and the .ext files are referenced using the "SheetRef:[CCC Name]" in the CSV file.

[2020-11-23 19:30] cahearn commented on #240
Still an issue on 1.6.0, tested on Staging.  Looks good on 1.6.1, tested on Testing!

[2020-11-23 19:46] joannekoch commented on #263
@spetillo Yes, scalib2 is a 2D array. Thanks for the info.

[2020-11-23 20:03] cahearn commented on #231
All Good in the Hood!

- CGINS-CTDMOQ-08523 has been fixed and is again fully accessible on Staging!
- Tested the described procedure with CGINS-DOSTAD-00226 and found no errors!
- Additional testing turned up no problems associated with deleting Constant Defaults!!!

[2020-11-23 20:28] spetillo commented on #254
@ethanandrews OOI is not currently planning on changing those fields in the CruiseInformation.csv unless CI specifically says we can (I'm asking and will re-post when I have an answer). I think you're recalling a different field that I had gotten OOI to fix for just one of the ships on the list.
We'll likely need to handle the discrepancy between CruiseInformation.csv & shiplist.csv Ship/Vessel Na

[2020-11-23 20:39] cahearn commented on #196
Found this problem persisting for Constants and Configurations on 1.6.0, tested on Staging, & 1.6.1, tested on Testing db.  Not seen in Calibrations... yet

![image](https://user-images.githubusercontent.com/14059724/100005892-a6ff6880-2d97-11eb-848e-e9c279a97426.png)

![image](https://user-images.githubusercontent.com/14059724/100006620-c64ac580-2d98-11eb-83d9-b42e793e700a.png)

[2020-11-23 20:48] spetillo commented on #240
I changed the Milestone to v1.6.1 instead of v1.6.0, since that's where the fix got pushed to. NBD. Moving ticket to approved, since it's working on Testing on v1.6.1.

[2020-11-23 21:25] cahearn commented on #240
Ahhh, it was a mistake to offer that earlier partial update.  I hadn't put 1.6.1 through extensive testing, just a couple spot checks.  I've found in more thorough testing that the Extra Warning Modal still appears, albeit inconsistently.  Gotta kick this back to In Progress.

Additionally, when remove is clicked, the CCC is removed prior to and despite the warning.  This means the only method to

[2020-11-23 21:33] spetillo commented on #240
Right...The modal needs to include a Cancel button.

[2020-11-23 22:13] cahearn commented on #241
This one looks good!  Tested on Staging.  Here's the event I created for CGINS-CTDBPC-50109:

![image](https://user-images.githubusercontent.com/14059724/100020720-46c7f100-2dae-11eb-9d2e-4e2723089b6a.png)

Add here's a search for the "delete_me" constant following its removal from the CTDBP-C Part Template:

![image](https://user-images.githubusercontent.com/14059724/100021093-ec7b6000-2dae-11eb-

[2020-11-24 00:24] sbatchelder commented on #263
@joannekoch
re (1)
The current behavior is to use the User Defined Field "Manufacturer Serial Number" value for the Serial column of the csv (with caveat for OPTAA instruments). If the UDF/value doesn't exist, it defaults to blank.
I think this was the desired behavior while we were focused on the CI github-csv task.

@spetillo in absense of "Manufacturer Serial Number", what should the default be

[2020-11-24 00:37] sbatchelder commented on #262
How is it that downloading csv's for #168 is working fine, but here on #262 it is not?
Both these tickets were updated today.

@joannekoch @cahearn What versions of the code were you both testing? If the versions are different I can start by looking at the differences.

@joannekoch is there any way I can run your automated tests myself locally before pushing code?

[2020-11-24 02:42] cahearn commented on #262
I was looking to test v1.6.0 functionality, which is running on Staging (ooi-cgrdb-staging.whoi.net).  I had no problems there in limited testing, specifically looking for "502 Bad Gateway" errors, and just double-checked that it's still working.

Using the same search and download steps from the Staging double-check, I also confirmed the error Joanne found on Testing (rdb-testing.whoi.edu) which

[2020-11-24 12:59] joannekoch commented on #263
@sbatchelder  – I define a Manufacturer Serial Number for the Part Type associated with the Inventory I’m importing the Calibrations for.  I set the Manufacturer Serial Number to 2004 in the Inventory.

If I upload a Calibrations.csv with a Manufacturer Serial Number of 1111, the import works and no error is thrown even thought the serial numbers do not match.

If I set the Manufacturer Serial Num

[2020-11-24 13:25] joannekoch commented on #262
Yes, the error is on v1.6.1 and it occurs even if you only download 1 item.

[2020-11-24 14:52] spetillo opened #266 "On "Add Sub-Assembly" and "Add to Parent Assembly", searching for/scanning S/N should only return Inventory Parts available from the original list of available Inventory Parts shown"
On "Add Sub-Assembly" (and probably "Add to Parent Assembly"), searching for/scanning S/N should only return Inventory Parts available from the original *filtered* list of available Inventory Parts shown.

Currently, for "Add Sub-Assembly" at least, the original filtered list gets unfiltered when you search for/scan a S/N. So if you search for (e.g.) "35", *all* Part Inventory items in RDB that co

[2020-11-24 17:22] MarioCarloni opened #268 "Enhance Comments Functionality"
In reference to Trello TASK 22:

RDB-AM-057:
RDB shall include a free text field for capturing comments associated with items in the change log.

Description: Need to be able to enter an explanation for changes to metadata.

RDB-AM-061:
RBD needs to allow “replies” to notes that are shown as sub-notes, and allow delete/edit/etc of notes.

Description: Need to be able to enter an explanation for ch

[2020-11-24 18:22] sbatchelder commented on #266
@spetillo Are we talking about this page?
If so, I don't really have anything to do with this search field (which isn't to say i'm divesting myself from the task, only that I don't know much about it rn)

![image](https://user-images.githubusercontent.com/44208509/100135402-96162c00-2e57-11eb-968e-f3535f07a11a.png)

[2020-11-24 18:32] ethanandrews commented on #266
@sbatchelder this one is on me, don't worry about it.

[2020-11-24 19:18] sbatchelder commented on #262
Was able to reproduce and do a one-liner fix for this issue for v1.6.1

[2020-11-24 19:25] spetillo commented on #219
@sbatchelder Since the system only ever displays the `user.username` when selecting and displaying the Reviewers and Approvers, can the Reviewers and Approvers Search just be changed to use `user.username` instead of `user.name`? Would that be straightforward to change?

[2020-11-24 19:28] sbatchelder commented on #219
@spetillo That would be a straightforward change yes. Would you like the search results column to also display username instead?

[2020-11-24 19:35] spetillo commented on #220
@sbatchelder I'm trying to understand the implementation/incarnation of the datetime fields in RDB...How is the datetime stored in the system? is it a string, or its it a "seconds since epoch" that just displays in the "YYYY-MM-DD hh:mm:ss" format, or something else?

[2020-11-24 19:52] sbatchelder commented on #264
@joannekoch What do you mean by an empty field here? Is this via csv upload?

I tried to reproduce the error but the primary means I know of is via the Cruise > Vessel List > Add Vessel route, and that form only has Yes/No options for Active and R2R. A test where a vessel had both as "No" showed up fine in the download list.

![image](https://user-images.githubusercontent.com/44208509/100143649-a5

[2020-11-24 20:02] joannekoch commented on #264
Issue #210 References empty Active and R2R fields.

Try to import https://github.com/oceanobservatories/asset-management/blob/master/vessel/shiplist.csv
The Dauntless and Matthew Hughes have empty fields in this file. When you import, these Vessels are created but they are not exported.

[2020-11-24 20:08] sbatchelder commented on #220
@spetillo
They're stored in django through [Date and Datetime Fields](https://docs.djangoproject.com/en/3.1/ref/models/fields/#datefield) which -in practice when you pull the value out from the database- come out as [python datetime.date and datetime.datetime](https://docs.python.org/3/library/datetime.html#available-types) objects respectively.

The string representation of these objects as rende

[2020-11-24 20:35] sbatchelder commented on #264
Okay this is a bit dumb but where is the upload interface? I tried going to `<localhost>/ooi_ci_tools/import/vessels/upload/` which i think is the right path but that's clearly not it. Where is the upload interface accessed from?

[2020-11-24 20:39] spetillo commented on #246
At this point, an "Inventory Only" User Role should be able to view the Cruises, but not edit them.

[2020-11-24 20:40] joannekoch commented on #264
Yea, I had to clone it to my desktop...  Here's my file. Just rename it: shiplist-import.csv.

[shiplist-import.txt](https://github.com/WHOIGit/ooicgsn-roundabout/files/5592602/shiplist-import.txt)

[2020-11-24 21:42] joannekoch commented on #262
Verified that this fix work. Nice job! Thank you.

[2020-11-24 21:42] #262 closed

[2020-11-24 22:01] sbatchelder commented on #264
Err, what I mean is, I don't know where "bulk upload" for vessels/in-general is found on the _RDB interface_.

and fyi you can download a single file off a git repo without cloning the whole thing using the `Raw` button towards the start/top of the file :)

![image](https://user-images.githubusercontent.com/44208509/100156273-9b36a380-2e76-11eb-894d-936aed329714.png)

[2020-11-24 22:21] joannekoch commented on #264
Click on the "Wheel" icon. Choose "Upload Github CSVs".

Thanks for the tip!

[2020-11-24 22:25] sbatchelder commented on #264
Ah well there's the issue, I don't have the wheel/gear icon on my interface.
Turns out my user is not Admin.
I can probably find a way to change that. Thanks!

[2020-11-24 22:40] spetillo commented on #254
@ethanandrews @joannekoch
Surprisingly, everyone on the CI & Data Teams agreed with my proposal for changing the CruiseInformation.csv `ShipName` values to remove the vessel designator, making `ShipName` values the same as `Vessel Name` values. This change to CruiseInformation.csv is going through the PR review process right now, and then will undergo testing on the CI side to make sure it doesn't

[2020-11-25 12:47] #260 closed

[2020-11-25 12:51] ethanandrews commented on #261
v1.6.1 has initial version of this endpoint for OMS++ to play around with

/api/v1/oms-builds/

[2020-11-25 13:32] joannekoch commented on #254
That's great. Thank you.

[2020-11-25 20:10] sbatchelder opened #272 "Importing Vessel CSV fails silently"
While working on #264 / #271 I noticed that the vessel csv upload task did not fully update the vessel list - it was interupted partway through.  More importantly, the upload interface did not inform the user that some error had occurred, instead showing a green "Import Complete" message, despite the import only partially working.

The error occurred because the database contained two Vessel entri

[2020-11-25 20:57] sbatchelder commented on #263
Well, this sounds more like an import bug than an export bug, so I'm pulling in @MarioCarloni for this.
Could this be related to #272 where imports can fail silently?

@joannekoch is there any chance you can get a log-entry/stack-trace from the CeleryWorker process for when you upload a calibration csv?

[2020-11-25 22:03] spetillo commented on #220
@sbatchelder Agreed, that is a bit ridiculous... Let's come back to this next week and brainstorm some more implementation options (I realize there may not be any/many).

[2020-11-25 22:04] spetillo commented on #219
@sbatchelder Yep, let's display ursername in the results instead, too.

[2020-11-26 22:55] fcarvalhopacheco opened #273 "How to install the Roundabout?"
Hi all

I really would like to try this application, but I am having many issues with the installation...

Does anyone have a **HOWTO** install the Roundabout application step by step? I tried installing all the requirements but failed in many steps and got lost setting up the environmental variables.

Any help with the installation would be much appreciated.

Cheers,
Fernando

[2020-11-27 15:30] MarioCarloni commented on #273
Hi Fernando,

Thanks for taking interest in our software. Startup instructions are found in the Readme, and I will reiterate here:

1) Install Docker and Docker Compose on your local machine

2) Set up environment variables per Readme instructions into a .env file

3) Open a terminal window from the project root directory. Run "docker-compose -f local.yml up --build"

That should build and start t

[2020-11-27 16:28] fcarvalhopacheco commented on #273
Thanks, Mario! I will give it another try.

Cheers!

[2020-11-30 16:53] sbatchelder commented on #234
I think I got this completed. release-1.7.0 doesn't exist yet, do I'll just hold on to it in my local branch for now.

[2020-11-30 16:53] sbatchelder commented on #235
I think I got this completed. release-1.7.0 doesn't exist yet, do I'll just hold on to it in my local branch for now.

[2020-11-30 20:42] spetillo commented on #263
@sbatchelder In absence of "Manufacturer Serial Number", default that value to blank in the export. Can you also comment out any line that has a blank in the Serial column?

[2020-11-30 20:48] spetillo opened #274 "Fix import & validation of Manufacturer Serial Number from Github CSVs"
I define a Manufacturer Serial Number for the Part Type associated with the Inventory I’m importing the Calibrations for.  I set the Manufacturer Serial Number to 2004 in the Inventory.

If I upload a Calibrations.csv with a Manufacturer Serial Number of 1111, the import works and no error is thrown even thought the serial numbers do not match.

If I set the Manufacturer Serial Number to blank in

[2020-11-30 20:54] spetillo commented on #263
@joannekoch @sbatchelder @MarioCarloni I have posted the Import issues @joannekoch described [above](https://github.com/WHOIGit/ooicgsn-roundabout/issues/263#issuecomment-732958118) to #274 to keep Import issues separate from Export-specific issues.

[2020-11-30 21:06] sbatchelder commented on #263
@spetillo

What do you mean by this? Since each csv corresponds to a CCC subset of one inventory item, if that item doesn't have a "Manufacturer Serial Number" udf, then all rows will have a blank Serial column.

This to me means: don't export CCCs for inventory items that don't have a "Manufacturer Serial Number" udf value.
Is that correct?

[2020-11-30 21:29] spetillo commented on #234
@sbatchelder @ethanandrews Can we get this in on v1.6.2 since it's done already?

[2020-11-30 21:30] spetillo commented on #235
@sbatchelder @ethanandrews Can we get this in on v1.6.2 since it's done already?

[2020-11-30 21:36] spetillo commented on #263
@sbatchelder Oooh, sorry, I was thinking deployment CSVs (which have multiple instruments/Parts per file) instead of Calibration CSVs. Forget the part I said about commenting out the line. Just leave the "Serial" column blank.

[2020-11-30 23:23] sbatchelder opened #275 "Search for null and empty field values"
as per [this trello card](https://trello.com/c/oFn7QXrJ)

[2020-11-30 23:34] sbatchelder opened #276 "Inventory with location Null throws error"
While working on #275 I was able to access inventory items with location `Null`.

The views for [such items](https://ooi-cgrdb-staging.whoi.net/inventory/578) do not render:

`django.urls.exceptions.NoReverseMatch: Reverse for 'locations_detail' with arguments '(None,)' not found. 1 pattern(s) tried: ['locations/(?P<pk>[0-9]+)/$']`

@spetillo @cahearn @ethanandrews
What should the correct behavior

[2020-12-01 14:28] joannekoch commented on #263
@spetillo I have a question. When I look at the Asset Management csv files, they all have the serial number field filled in with something. None of them are blank. If the work flow is import a Github csv, export it, and the files should match, the files will not match if we allow a blank serial number in the export.

[2020-12-01 17:39] #241 closed

[2020-12-01 17:39] #231 closed

[2020-12-01 19:06] ethanandrews commented on #276
I think @sbatchelder suggestion is a good fix for this issue, I will implement and close.

[2020-12-01 19:07] #276 closed

[2020-12-01 20:06] spetillo opened #277 "Allow creation of new Configuration Defaults after an initial Default(s) is created"
From Lucy on Demo v1.6.1 on 11/30/20:
lnorton  1:22 PM
Hi! Something that I've noticed when adding new configs is that once a default config event is created (on an AT), if you try to add a new default value or edit existing values it throws the following error: "Config default with this Conf def event and Config name already exists." This makes it a huge pain to add new configs because you have t

[2020-12-07 04:19] cahearn commented on #240
Still occurring in v1.6.1 on Testing

1st:
![image](https://user-images.githubusercontent.com/14059724/101308990-2e79bc80-3819-11eb-8bea-29b522e613f0.png)

2nd:
![image](https://user-images.githubusercontent.com/14059724/101309014-43565000-3819-11eb-93d4-43683537d1cb.png)

[2020-12-07 04:37] cahearn commented on #172
Looks sweet.  Great aesthetic choices.  Bonus points for link to github page!

[2020-12-07 18:50] MarioCarloni commented on #240
The new functionality should be present on whichever server is running the newest 1.6.1 code. I've pulled and run both my working release-1.6.1 branch and the current release-1.6.1 branch, and both versions populate with the new functionality.

[2020-12-08 16:21] ethanandrews commented on #220
I ran down the code I’ve used before for filtering a datetime model field by just the mm/dd/yyyy date part. There’s a filter in the Django ORM for this:  `__date`

`set = Inventory.objects.filter(created_at__date=datetime.date(2020,12,8))`

This would return all Inventory objects that have a `created_at` datetime on 12/8/2020, ignoring the time part.

[2020-12-09 17:24] cahearn commented on #240
I asked @ethanandrews to check the status of 1.6.1 on Testing.  He rebuilt Testing/Staging containers from current branch and I'm still seeing the extra warning modal on both.  However, the Cancel button is now present, which wasn't there previously.

Bonus Info:  If I check the "Prevent this page..." box in the second warning, click "OK" and "Update C/C," the "Remove" buttons don't work in ensuin

[2020-12-09 18:49] cahearn commented on #173
Mimicked the additions @spetillo detailed and could not reproduce the error on v1.6.1 on Staging (note that DB data is substantially different now, with a number of Assembly Templates no longer present, including the GI01SUMO Steph used for testing here).

This passes Testing!  but will keep an eye out given the intermittent nature described.

[2020-12-09 19:02] cahearn commented on #229
The update here now causes RDB to deselect the inventory item being worked on when a Calibration is deleted.  Details are accessible when the item is re-selected.  Bug is fixed but it would be better to remain selected on the original inventory item so that work can be continued.  This is the usual and expected behavior in other RDB functions and would be preferable here, unless there are technica

[2020-12-09 19:06] sbatchelder commented on #263
Yes, and if an inventory item has a non-blank "Manufacturer Serial Number" (MSN) in the database, then that is the value used and the export "Serial" column will not be blank (see code snippet).

I was only able to recreate the error of a blank serial-column export by wiping the MSN from the inventory. The import still worked fine, since I believe it uses the filename to find the right inventory i

[2020-12-09 19:16] cahearn commented on #247
Tested on v1.6.1 on Staging.  Good to Go on this one!

[2020-12-09 19:22] cahearn commented on #200
Tested on v1.6.1 on Staging.  Looks great!, but not sure if all of the functionality @spetillo originally commented for is present.  Pretty sure, just not certain.

![image](https://user-images.githubusercontent.com/14059724/101676973-ef6e8580-3a29-11eb-97be-3e4159cd4fab.png)

[2020-12-09 20:02] #247 closed

[2020-12-09 20:02] #200 closed

[2020-12-10 00:20] sbatchelder commented on #199
@spetillo @cahearn
Here's what the search results look like. Have I missed anything?

Note: for this screencap I limited results to two per table, and there's two users shown because Steph you had a number of CCC records and Ethan had a number of Action records but neither had both.

![image](https://user-images.githubusercontent.com/44208509/101704467-d0d0b480-3a52-11eb-987b-4e5e548bec03.png)
![i

[2020-12-10 00:36] sbatchelder commented on #199
@ethanandrews
I'm having a hard time creating a link to a deployment details view for the Deployment Actions table. `url = reverse('deployments:deployment_detail',deployment.pk)` fails despite `roundabout/inventory/urls_deployment.py` existing, so that "app" must not be active.

I tried to emulate what the builds detail view does with anchors as show below, but this fails I think because since the

[2020-12-10 14:13] ethanandrews commented on #199
I think this is the best solution for the moment. There’s currently no discrete “Deployments” interface that can be viewed for a single Deployment like that, Deployments are just sub-data for Builds.

We can build a new interface for Deployments, but that would definitely be a new task.

From: Sidney Batchelder <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com

[2020-12-10 17:09] #173 closed

[2020-12-11 19:43] spetillo commented on #200
Other than Calibration imports (which are working as they have been), I haven't put this through its paces in terms of the actual import _functionality_, but this integrated UI _looks_ fine to me, too!

[2020-12-11 20:00] sbatchelder commented on #199
Are CCC Value-Events something different from a **Calibration Events** and **Config Events** (CCC Events)?

CCC Events contain a collection of CoefficientValue and ConfigValue objects respectively (CCC Values), but CCC Value objects do not have their own `user_draft`, `user_reviewer`, and `approved` fields. Only CCC Events,  CCC Name-Events, and CC Default-Events have those (as-per `roundabout/cal

[2020-12-11 20:22] sbatchelder opened #283 "Truncate long entries in search results"
Some entries for search results tables are long (eg "Note" fields).
To keep results concise, these entries should be truncated so as not to be overwhelming.

1. Shorten known verbose fields to say 100 characters, and show an ellipses
2. If the search query includes a match in one of these long fields, focus the truncation window on the queried text found in the field (and maybe show two elipses)
3

[2020-12-11 20:35] sbatchelder opened #284 "TASK6: Support URL links"
Create interface for adding url-links or a document-uploads (w/ description text) to various RDB models/actions, including:

- Inventory items
- top parent of a Build
- ~~top parent of an Assembly Template~~
- Vessels
- Cruises
- CCC Events

See [Trello Card](https://trello.com/c/QceB7ifK/)

[2020-12-11 21:36] spetillo commented on #199
@sbatchelder Yup, you're right! Individual CCC Values don't have specific Reviewers/Approvers attached to them. I was thinking of an entirely different feature when I said that. Sorry, you can ignore my comment above!!! :zipper_mouth_face:

Looks good as-is!

[2020-12-13 02:37] cahearn commented on #138
Looks great for displayed info and under "Edit Deployment Details."  @ethanandrews, Could you add the same description text to the initial Lat/Lon entry, found when using the "Deploy to Field" option?  Thanks!

[2020-12-13 02:49] cahearn commented on #109
Looks good!  Tested on Testing...

[2020-12-13 03:14] cahearn commented on #126
Looks good!  Still a bit tweaky, in that if a reviewer has approved the removal does not go through upon update.  Instead, the original reviewer list re-populates with no approvals.  At that point removals from the list of reviewers work as expected.  Tested on Testing.

[2020-12-13 03:24] cahearn commented on #239
Links look and work great!  Inventory items have links, when appropriate, to associated Part Template, Assembly Template designated slot, Current Build and Current Location.  Builds have links to associated Assembly Template and Current Location.  Muchas Gracias!

[2020-12-13 03:46] cahearn commented on #240
Inconsistently successful now on Staging and Demo.  Testing has been consistently working, but hard to be sure with all the bouncing back and forth.

[2020-12-14 04:07] cahearn commented on #277
Tested good for Dosta-D on Staging, Testing and Demo!  Still saw the original error on Demo for ADCP on GI01SUMO Riser (and GA), but thinking this may be limited to Demo ADCP:

![image](https://user-images.githubusercontent.com/14059724/102039330-7196db00-3d97-11eb-8277-e2806368d594.png)

[2020-12-14 04:10] cahearn commented on #196
Lots of testing, hasn't come back... yet!
Will keep an eye out but this one passes.  Good Work!

[2020-12-14 15:40] #109 closed

[2020-12-14 15:40] #126 closed

[2020-12-14 15:40] #196 closed

[2020-12-14 18:22] MarioCarloni opened #286 "CSV Import: Generate Calibration Names, discern Coefficent Value set type"
During CSV import, auto-generate missing Calibration Names and discern their Value Set Type using respective Coefficient Values

[2020-12-14 18:55] cahearn commented on #277
Lucy confirms general fix looks good.  Still finding the original error for ADCPS-N and FLORT-D on Demo GI01SUMO Assembly Template, Rev B.  @MarioCarloni , could you look into these for explanations for the quirkiness from your perspective?  Thanks!

[2020-12-14 18:59] cahearn commented on #229
@MarioCarloni , would you please look into what it would take to change the deselecting behavior mentioned above?  Thanks!

[2020-12-14 19:25] MarioCarloni commented on #229
I should be able to revert the merged delete-view logic above to its original state, and rework the deletion functionality to reload the Inventory detail template.

[2020-12-14 19:36] MarioCarloni commented on #277
Sure thing. Will look into this more deeply and report back.

[2020-12-15 04:55] cahearn commented on #240
Following latest v1.6.1 updates (per @ethanandrews @ 15:27) I have seen a full range of behavior on a single Part Template (ADCPS-J) on rdb-testing.

1. First attempt to remove a Config Name yielded a single warning.
2. I canceled and tried again to find that clicking the "Ok" for the single warning quickly flashed the second modal (with the checkbox) as the Config was removed.
3. I canceled again

[2020-12-15 20:56] MarioCarloni commented on #277
After comparing several Instruments' Config Default Events on Demo server, incl DOSTA-D, ADCPS-N, FLORT-D, it seems there's some complicated sorting logic between several models that is throwing off the Config Default form. I believe I should be able to rework the models in order to resolve the issue.

For background, Config Name sorting differs between its model's default behavior, how the Names

[2020-12-15 21:28] spetillo commented on #254
FYI @MarioCarloni @ethanandrews @joannekoch -
The Cruise CSV updates I mentioned above have been incorporated and posted to the CI GitHub CSVs.

@joannekoch Go ahead and re-test. If all is well, I think we can close this ticket out.

[2020-12-16 15:06] ethanandrews commented on #138
No problem, those labels have been added for “Deploy to Field” option.

From: cahearn <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Saturday, December 12, 2020 at 9:38 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundabout@noreply.github.com>
Cc: Ethan Andrews <eandrews@whoi.edu>, Mention <mention@noreply.github.com>
Subject: Re: [WHOIGit/ooicgsn-rou

[2020-12-16 19:03] cahearn commented on #187
Looks good!  Tested on Staging and Testing

[2020-12-16 19:22] joannekoch commented on #254
Tested the new  CI Cruise GitHub CSV on Release 1.6.1. Imported the new Cruise GitHub CSV, verified Vessel names were created properly, exported Cruise GitHub CSV, and verified that the import file matches the export file.

[2020-12-16 19:22] #254 closed

[2020-12-16 19:41] cahearn commented on #272
Upload appears to be broken in a few ways.

I am having trouble uploading abridged vessel lists to any of Testing, Staging and Demo sites.  Not sure what's causing the failure to upload, may be user error, but in all cases the progress bar shows all green "Import Complete"

![image](https://user-images.githubusercontent.com/14059724/102395450-22c08f80-3fa9-11eb-8d58-611c8911d743.png)

![image](htt

[2020-12-16 19:42] cahearn commented on #255
Upload appears to complete, but I still see the same behavior Joanne described.  Only the first of the listed files is uploaded.

[2020-12-16 20:33] joannekoch opened #289 "Bulk Export "Calib with Config & Const" exports a text file"
Bulk Export option "Export Calibrations with Configurations and Constants" exports a text file (in the zip file)
when it should export a CSV file.

[CalibrationsWithConfigs_exportlog.txt](https://github.com/WHOIGit/ooicgsn-roundabout/files/5705367/CalibrationsWithConfigs_exportlog.txt)

[2020-12-16 20:43] sbatchelder commented on #289
Ah I misunderstood you at the meeting.

This is not a CCC, this is a logfile of the exported CCCs. It's useful for determining why certain CCCs aren't exported.
It's useful debug information and I will make an update to remove this behavior.

[2020-12-16 21:04] sbatchelder commented on #289
(removed a comment)

[2020-12-16 21:15] joannekoch opened #290 "Upload Github Cruise and Vessel CSVs Creates Duplicate Vessels"
If you upload Vessels first then upload Cruises, 2 of each Vessel Name is created IF that Vessel is in the Cruise file. The Vessel created by the Cruise upload is empty except for the name and the other Vessel created by the Vessel upload is fully populated. For Example:
       | Adolf Jensen |   |   |   |   |   |   |   |   |   |   |   |   |
      AJ | R/V | Adolf Jensen |   | 60North | OYTL | 331

[2020-12-17 14:36] #187 closed

[2020-12-17 19:12] ethanandrews commented on #290
@joannekoch This issue should be fixed now in 1.6.1 branch. Give it a test, code is deployed to staging server as well.

[2020-12-17 20:43] joannekoch commented on #290
Tested on 1.6.1 and there is only one Vessel per Vessel name created. Nice job!

[2020-12-17 20:43] #290 closed

[2020-12-19 03:50] cahearn commented on #252
Partially fixed.  Attempted upload of Calibration CSVs with values that do not have corresponding Coefficients in Part Template now do _NOT_ succeed.  Instead, an Attribute Error page is loaded (see below).  It would be better to display an error message.  Tested with ADCPS-Js and CGINS-FLORTD-00994 on Staging.

![image](https://user-images.githubusercontent.com/14059724/102680093-522af400-4183-11

[2020-12-19 03:54] cahearn commented on #188
Looks good to me!  Repeated tests on Staging and Testing (several days ago, before recent version changes) yielded error messages consistent with results below.  Nice work!

![image](https://user-images.githubusercontent.com/14059724/102680133-afbf4080-4183-11eb-99c6-e8857e04d5cd.png)

[2020-12-19 04:15] cahearn commented on #207
Entries no longer Duplicate, great work!
One small issue remains.  History for the upload shows the wrong user.  In the example below, cahearn should be listed as the person for the 12/19/20 upload.

![image](https://user-images.githubusercontent.com/14059724/102680402-bfd81f80-4185-11eb-8aa3-9194761d0b97.png)

Other uploads from earlier properly showed cahearn as the Person.  Below is an example

[2020-12-19 04:29] cahearn commented on #86
Great Additions!: Warning and Required Reassignment of Part Templates to different Part Type will help a lot.
However, I was able to subvert your foolproof plan by selecting the Part Type I was deleting from the Reassignment list.  Devilishly clever, I know.

![image](https://user-images.githubusercontent.com/14059724/102680713-be5c2680-4188-11eb-8fe2-7a82cc6d6ea0.png)

![image](https://user-image

[2020-12-21 03:30] cahearn commented on #229
Awesome improvements.  Inventory side looks nailed!
For the Part Templates, after deleting the Calibration, its record remains in the display although none of the buttons ("Delete," "Approve," "Edit Calibrations") work.  The record is removed after a page refresh or other operation causes reload of the info.

[2020-12-21 03:57] cahearn commented on #277
Works great on Staging.  Demo hasn't received latest code update, so haven't been able to test original instigators.

[2020-12-21 04:15] cahearn commented on #210
Looks Great!  Tested on Staging, with repeated imports of fictitious R/V Bosun.  Nice work!

[2020-12-21 04:19] cahearn commented on #264
Looks Great! Tested on Staging, with repeated imports of fictitious R/V Bosun. Also, the _Dauntless_ and _Matthew Hughes_ show up in export.  Nice work!

[2020-12-21 04:36] cahearn commented on #286
May not be testing what you're intending here but unfortunately, I'm not seeing the auto-generation for any Cal Names.  Tried to upload CGINS-PCO2WC-C0103__20141111 from Github CSVs and got attribute error page below.

![image](https://user-images.githubusercontent.com/14059724/102739752-fd6eb100-431b-11eb-8cce-16b6cba0c99c.png)

[2020-12-21 04:59] cahearn commented on #224
Constant Events only populated when the Constant Names had corresponding Calibration Names, i.e. entered in both lists.

[2020-12-21 15:49] #188 closed

[2020-12-21 18:18] MarioCarloni commented on #286
This is a local bug as well. It seems to be coming from the Calibration auto-generation logic, regarding database transactions to create Calibration Names not yet found in RDB. I am currently working towards a solution.

[2020-12-21 18:50] MarioCarloni commented on #224
I think I see where the error is occurring, and may be tied with #286 . The new Calibration Name auto-generation logic is creating a Calibration Name for each Config or Constant Name not found, which is interacting the with form validation... I'm currently working towards a solution.

[2020-12-21 19:18] MarioCarloni commented on #252
This is also tied to changes from #286. I will likely need to revert and rework those changes, which should resolve this issue. Currently working on a solution.

[2020-12-21 19:50] MarioCarloni commented on #207
I believe I know what's causing the issue. Logic to add reviewers to a new CSV Calibration Event may be interacting with the action history generation. I should have a resolution for this.

[2020-12-21 20:01] MarioCarloni commented on #255
Interestingly, all uploads process sequentially running local 1.6.1 code. I am testing further and working on a solution.

[2020-12-21 20:05] MarioCarloni commented on #240
As I am unable to reproduce the error locally, and in order to avoid the error entirely, I will need to significantly rework most of the Calibration Name form logic in a new fashion.

[2020-12-21 20:07] MarioCarloni commented on #272
I am able to create and update an abridged Vessel CSV and its RDB equivalent from local 1.6.1 code. I will look deeper into what may be causing the issue on the live server.

[2020-12-21 20:16] MarioCarloni commented on #229
I'm seeing the same behavior locally. Currently looking into a resolution for this.

[2020-12-22 20:30] spetillo commented on #249
@ethanandrews What Milestone is this work merged into?

[2020-12-22 20:31] spetillo commented on #248
@ethanandrews What Milestone is this work merged into?

[2020-12-22 20:45] sbatchelder commented on #236
@spetillo @joannekoch

How do we want to go about this from an interface point of view?
1. Vessel and Cruise export buttons only export non-CI csv's (which include Notes + Friendly Name and Destination fields, respectively). The CI version of these files become exclusively available in the `Export All [CI]` button.
2. Create explicit CI/non-CI download buttons for Vessel and Cruise exports.

[scre

[2020-12-23 14:14] joannekoch commented on #236
@sbatchelder @spetillo Since I now know more about this issue, I have some thoughts.

The general workflow is import, then export, and the files should match. Currently we do not have the "formal" ability (see last question below) to Import non-CI Vessels and Cruises so perhaps we don't need the capability to export them.

Also, other questions arise:
Would a user ever need to create a mix of both

[2020-12-23 15:14] cahearn commented on #249
Tested good on Staging

![image](https://user-images.githubusercontent.com/14059724/103011267-a5949d80-4507-11eb-82eb-443c0601b481.png)

[2020-12-23 15:17] cahearn commented on #248
Tested good on Staging

![image](https://user-images.githubusercontent.com/14059724/103011527-163bba00-4508-11eb-86bf-704c25aca871.png)

[2020-12-23 15:40] cahearn commented on #138
Sweet, looks great!  Tested on Staging

![image](https://user-images.githubusercontent.com/14059724/103013468-33be5300-450b-11eb-9ee1-5049710de19f.png)

[2020-12-23 17:28] MarioCarloni commented on #255
On Staging, I am able to simultaneously upload both an abridged Cruise and Vessel list, and display the edited values from their respective templates. However, on Demo, no Cruise or Vessel list is ever created, but the "Import Complete" bar is still shown. However, locally from 1.6.1 code, the files simultaneously upload and behave as-expected.

[2020-12-23 17:30] MarioCarloni commented on #272
On Staging, I am able to simultaneously upload both an abridged Cruise and Vessel list, and display the edited values from their respective templates. However, on Demo, no Cruise or Vessel list is ever created, but the "Import Complete" bar is still shown. However, locally from 1.6.1 code, the files simultaneously upload and behave as-expected.

[2020-12-23 18:14] ethanandrews commented on #249
@spetillo milestone 1.6.1

[2020-12-23 18:14] ethanandrews commented on #248
@spetillo milestone 1.6.1

[2020-12-28 18:42] joannekoch opened #294 "KeyError Screen Thrown When Upload Github CSV Cruise File as a Vessel File"
Choosed Upload Github CSVs. Under Vessels Csv "Choose File" option, select a Github Cruise File and a KeyError Screen is thrown. An error message stating that the file is invalid should be displayed instead.

<img width="750" alt="Vessel Cruise Error" src="https://user-images.githubusercontent.com/65416034/103236236-59d06280-4912-11eb-84b6-9a80dec92f90.PNG">

[2020-12-30 05:21] fcarvalhopacheco commented on #273
Hi @MarioCarloni

Sorry for the stupid question but how can I set  " A web server with ports 80 and 443 available". I am not familiar with that at all and it would be great if you could guide me somehow. I am guessing once I am able to set up this webserver I can configure the NGINX settings to modify the following file:

[code]

[2020-12-30 19:18] #273 closed

[2020-12-30 19:20] fcarvalhopacheco opened #295 "[INSTALL.MD][HELP]"
Hi all.

I'm trying to create a step-by-step installation guide to help me and maybe other users to install the software. I think I am really close to run the software.

Please see below and let me know if you can help me.

# INSTALL.MD guide for Roundabout DB Application

1. Install Docker
- Follow instructions [here](https://docs.docker.com/compose/install/)

- Check if docker and docker-compose

[2021-01-04 20:34] sbatchelder commented on #283
(1) and (3) are complete.
(2) is proving to be trickier

[2021-01-05 18:57] ethanandrews commented on #86
@cahearn this loophole has been plugged

[2021-01-06 18:11] cahearn commented on #255
All selected files successfully uploaded simultaneously.  In further testing, when errors were purposefully set in one of the files, other files properly uploaded while an error message displayed for the one flawed file.  Great work!

[2021-01-06 18:12] #255 closed

[2021-01-06 18:22] cahearn commented on #272
[Tested on Staging]
When testing with a file containing flawed date fields, the upload tool fails and displays an informative error message.  Great Job!

(side note: If a Cruise CSV is uploaded with a "ShipName" that doesn't match an existing RDB "Vessel Name" a new entry is created for this record in the RDB Vessel List.  This had probably contributed to the noted repeats in the Vessel list and i

[2021-01-06 18:23] #272 closed

[2021-01-06 18:37] cahearn commented on #277
Although Staging represents the most recent 1.6.1 updates, testing on Demo with an earlier version of 1.6.1 also shows that this problem, specific to only a few Assembly Template entries, appears resolved.  Testing on Staging also confirms the most recent ver continues to work as expected.  Really great work, chasing this one down!

[2021-01-06 18:59] cahearn commented on #86
Tested on Staging just now and was able to delete AUV Assembly Template Type, orphaning the "Pretend Parts" Assembly.  :(

![image](https://user-images.githubusercontent.com/14059724/103809281-41093080-5027-11eb-9746-3d89d5770d38.png)

[2021-01-06 19:08] cahearn commented on #274
[Tested on Staging]
Looks great!  When uploading a Calibration CSV with "serial" field that doesn't match the Manufacturer S/N in RDB, a helpful error message is displayed.  Nice work!

![image](https://user-images.githubusercontent.com/14059724/103810122-b0335480-5028-11eb-9fde-8ba76810e7ce.png)

[2021-01-06 19:28] ethanandrews commented on #86
My bad, only did this for Part Types, forgot Assembly Types. Should be all set for both Part and Assembly now.

[2021-01-06 19:36] cahearn commented on #86
All good!

[2021-01-06 19:40] cahearn commented on #229
I'm finding the same behavior still

![image](https://user-images.githubusercontent.com/14059724/103812819-18843500-502d-11eb-8996-00040d617525.png)

[2021-01-06 19:49] #274 closed

[2021-01-06 19:52] cahearn commented on #207
[Tested on Staging]
Multiple CCC CSV uploads still do not cause duplicate Events.  Haven't seen the "incorrect user recorded in history" issue, but will keep an eye out as it was intermittent before.  Nice Work!

[2021-01-06 19:57] cahearn commented on #252
[Tested on Staging]
Latest update now includes a helpful error message when Calibration CSV upload fails because there are no Cal Coeff defined on the Part Template.  Excellent!

![image](https://user-images.githubusercontent.com/14059724/103814307-71ed6380-502f-11eb-95a7-0b31e964513f.png)

[2021-01-06 19:59] #207 closed

[2021-01-06 19:59] #252 closed

[2021-01-06 20:42] #86 closed

[2021-01-07 18:19] MarioCarloni commented on #229
From Staging, I'd added and deleted Calibration Names from the VICS part screenshotted above (Part ID 912), CTDBP-E (Part ID 810), and METBK Logger (Part ID 834). Post-deletion, the correct Part was selected from the left tree, with related Part detail template loaded, containing no Calibrations as expected.

Are there certain Parts where this "ghost Calibration" behavior is more apparent?

[2021-01-07 18:31] MarioCarloni commented on #224
With the reversion of the autogeneration logic, Config/Constant events should be generated via CSV import if relevant Config/Constant Names are first created within the Inventory Part.

[2021-01-08 03:20] cahearn commented on #229
I have not been able to recreate the issue, despite repeated attempts.  Not quite sure what to say about it at this point.  Clearly intermittent, at best, and a relatively benign issue.

[2021-01-08 03:42] cahearn commented on #224
I'm finding the same behavior as before.  The Config/Constant Event is only generated if the Config/Constant Names are included in the Calibration Names as well as the Config/Constant Names.  (On Staging, see [METBK Logger](https://ooi-cgrdb-staging.whoi.net/parts/834/) and [CGINS-METLGR-00001](https://ooi-cgrdb-staging.whoi.net/inventory/1546/) where you'll see two uploads for the Cals, but only

[2021-01-08 18:32] MarioCarloni commented on #224
I've added a hotfix to allow Config/Constant Event generation via CSV Import without needing Calibration Names added to the Part. However, in 1.6.1, Config/Constant Names must still be entered from the Part template prior to CSV import.

[2021-01-08 18:33] #229 closed

[2021-01-08 18:56] MarioCarloni commented on #295
Hi Fernando,

I can help you at least with clearing up the local Postgres portion of your environment variables documentation, and perhaps others may jump in to assist:

**POSTGRES_HOST**: The container running Postgres. This variable should be changed to the Postgres container name. In our case, the default value is "postgres". The default container name can be changed from the Docker-Compose fil

[2021-01-08 19:33] cahearn commented on #224
[Tested on Staging]
Looks perfect!  Cals and Configs/Constants properly populate, with C/C/C Names in appropriate lists.  Adding a reviewer at upload, multiple file upload, and note entry all tested great as well.  Fabulous work!

[2021-01-08 19:43] #224 closed

[2021-01-09 02:17] fcarvalhopacheco commented on #295
Hi @MarioCarloni

Thanks for the reply. I will add your notes and edit my file.

What do you think about having this file available (**_install.md_** or **_contributing.md**_)? Do you think that would be useful for people?

Let me know because then I can improve the file with people's help...

Cheers

[2021-01-11 20:55] MarioCarloni commented on #295
Hey Fernando,

Yeah exactly, you can, but don't have to, modify the default environment values while working locally.

Including links to install and contributing markdown files in the readme might be useful!

Cheers,

Mario

[2021-01-12 14:18] #248 closed

[2021-01-12 14:18] #249 closed

[2021-01-12 14:29] #198 closed

[2021-01-12 14:29] #138 closed

[2021-01-12 14:30] #172 closed

[2021-01-12 14:30] #239 closed

[2021-01-12 14:30] #210 closed

[2021-01-12 14:30] #264 closed

[2021-01-12 17:36] joannekoch opened #300 "Able to Create Build with Invalid Deployment Cycle Dates"
I'm able to Create a Build with the following cycle dates:
![deploy1](https://user-images.githubusercontent.com/65416034/104348531-d137f180-54cf-11eb-81ad-91e2195b72d8.PNG)

When I Edit Deployment Details of the Build, don't change any of the fields on the screen, and select Update the Deployment, I get the error: "Deployment Cycle dates are invalid. Check that that dates are in correct order". (e

[2021-01-13 19:44] cahearn opened #302 ""Add to Build" option broken, under "Choose Action" Button"
Clicking "Add to Build" produces no change to the screen.

![image](https://user-images.githubusercontent.com/14059724/104501436-b5a31880-55ad-11eb-960c-125af361f0a8.png)

The same part can be added to a Build by selecting it from the auto-generated list seen when navigating the Build tree.

![image](https://user-images.githubusercontent.com/14059724/104501531-da978b80-55ad-11eb-843d-4634544f07a6.

[2021-01-14 19:12] joannekoch opened #303 "Deleting Multiple Config/Constants & Calibrations only deletes one"
Four Configurations/Constants are defined for a Part Template.

![cc1](https://user-images.githubusercontent.com/65416034/104636848-f9f7ec80-5671-11eb-8437-dd2f029c7821.PNG)

Edit the Configurations/Constants and remove all four as shown below.

![cc2](https://user-images.githubusercontent.com/65416034/104636947-1f84f600-5672-11eb-9738-b30e4b6dc676.PNG)

Only one of the Config/Constants are remove

[2021-01-18 19:53] joannekoch opened #304 "Missing Edit Coefficient Metadata Button"
Steps to reproduce:

1. Create 2 Calibrations for a Part Template.
2. Create a Calibrations Csv file with 2 Calibrations which have the same value, .61  in this example.
3. Upload the Calibrations Csv.
4. Navigate to the Inventory Item and open the Calibration Coeff. History and click on the link.
5. Notice that the Edit Coefficient Metadata button is missing for "scalib2".

![meta](https://user-i

[2021-01-19 18:40] joannekoch opened #305 "Search User missing Build & Deployment Actions for User without Name"
If a User (i.e. admin) does not have a User Name defined, **Search: User** does not return Deployment or Build Actions for that User.

![user](https://user-images.githubusercontent.com/65416034/105078155-8c760280-5a5b-11eb-9fb1-755c36a0387f.PNG)

Found on version 1.6.3.

[2021-01-19 20:26] joannekoch opened #306 "Search: Actions for Cruise ID and Name Issues"
1. When choose **Search: Actions AND: Cruise ID or Cruise Name**, it is not obivious to the user that the search is only for Cruises that are Deployed on Builds. I thought the search would include cruises that were imported (not deployed on a build), but it did not.

2. The Search does not include Cruises that are on a Build in the Start Deployment State or the Burn-in State. This is not obivious

[2021-01-19 21:15] sbatchelder commented on #306
I think this has to do with there only being a limited number of kinds of Actions, and Actions associated with cruises are a function of actions taken on a Build. This is outside my wheelhouse so @ethanandrews or @MarioCarloni please chip in, I don't know how the Build/Cruise action interactions work. If we want to track things like "Cruise Import" then the list of action types would need to be ex

[2021-01-19 21:34] joannekoch commented on #305
I originally thought this issue was related to an undefined User Name, but further testing with a defined User Name revealed that it is not.  See below. I'm not sure what is causing this because it seems to be working on rdb-testing when you search for non Admin users.

![user](https://user-images.githubusercontent.com/65416034/105095813-2d70b780-5a74-11eb-8d84-e6a78a6feaee.PNG)

[2021-01-19 21:41] sbatchelder commented on #305
And it looks like deployment and build actions are showing up in the Misc. Actions list.
@ethanandrews, were DeploymentActions and BuildActions deprecated?

[2021-01-20 16:07] joannekoch opened #307 "Search:Builds:Total Action Count and Exact = Blank throws ValueError"
Select **Search: Builds**. Select **Total Action Count**. Select **Exact** and leave the value field blank. A ValueError screen is thrown.

Please add field checking and display an error message to the user.

![valueerror](https://user-images.githubusercontent.com/65416034/105201734-3367a680-5b0f-11eb-9bcf-a9f65b165e46.PNG)

Release 1.6.3.

[2021-01-20 18:25] ethanandrews commented on #306
I think @sbatchelder is basically correct on the options here. Cruises only have limited Actions tracked, pretty much just things related to Deployments. In general, only Inventory, Builds, Deployments, and then the Const/Config objects are treated as "primary" objects in RDB, so that they have full Action histories that are listed on their detail page, etc.

So if Cruises (or Vessels) need to be

[2021-01-20 18:25] ethanandrews commented on #305
The separate models for DeploymentActions and BuildActions are no longer in use, but Builds and Deployments still have unique Action histories. This is the purpose of the “object_type” field now.

From: Sidney Batchelder <notifications@github.com>
Reply-To: WHOIGit/ooicgsn-roundabout <reply@reply.github.com>
Date: Tuesday, January 19, 2021 at 4:41 PM
To: WHOIGit/ooicgsn-roundabout <ooicgsn-roundab

[2021-01-20 18:41] joannekoch commented on #306
I'm ok with just clarifying the user interface for items 1 & 2 above. Instead of Cruise:ID and Cruise:Name in the search Action Type pulldown, perhaps we could use Deployed Cruise:ID and Deployed Cruise:Name.

I think item number 3. above still needs to be fixed.

[2021-01-20 19:09] sbatchelder commented on #305
Good to know, this gives us a couple options then
(1) remove Deployment Actions and Build Actions Tables, relabeling "Misc. Actions" to just "Actions". We could also add a form field to limit the "object_type" of the Actions Table
(2) keep Deployment Actions and Build Actions Tables, and automatically relegate Actions to those tables according to their "object_type"

[2021-01-20 19:27] cahearn commented on #220
All search categories provide "Date" format option, and helpful error note when not properly input.  Looks Great!

[2021-01-20 19:39] cahearn commented on #234
Created Calibration Coefficient "Enabled" and value "45" for [3705-00047-01-02](https://ooi-cgrdb-staging.whoi.net/inventory/904/) on Staging.  Cal search appeared at first and then disappeared when I disabled the CCC option from the Cable part type.  Interesting to note, the Cal record also disappeared.  Cal record (and proper search return) re-appeared when I subsequently re-enabled CCCs for Cab

[2021-01-20 19:57] cahearn commented on #235
Tested similar to #234.  Created Calibration Coefficient "Enabled" and value "45" for 3705-00047-01-02 on Staging. Cal record appeared in Export at first and then disappeared when I disabled the CCC option from the Cable part type. Cal record re-appeared when I subsequently re-enabled CCCs for Cable part type.
Then compared Export results for all Cals, Const/Configs and all CI as I toggled CCC ena

[2021-01-20 20:44] sbatchelder opened #308 "Search: Inventory: UDF values"
Search treats Inventory UDF values as Char fields even if they are specified as Integer, Decimal, or Date fields. While this does not break search, it does mean that`<=`, `>=`, and `date` lookup options will not work, causing a user to have to fall back on `contains` in most cases.

[2021-01-20 20:45] joannekoch opened #309 "Revisit Generate Report functionality for Builds"
When you select a Build->Choose Action->Generate Report, "Loading" text is displayed with a circle of revolving dots. The Report is not generated and the Loading indication never goes away.

Revisit whether the Generate Report is still a useful feature to have and what it would take to get it work again.

Found on release v1.6.3.

[2021-01-20 20:59] sbatchelder commented on #306
Hotfix commit above addresses 1&2 with clearer dropdown text.
(3) "If you Deploy a Build without a Cruise and then Edit the Deployment Details and set the "Cruise Deployed On" to a valid Cruise, the Search does not find the Deployed Cruise that was set after the Deployment" still in the works

[2021-01-20 23:33] sbatchelder commented on #305
Talked with Connor and went with option (1), keep a single Action Table, with option to filter results.

[2021-01-20 23:36] joannekoch commented on #305
Sounds good to me. Thanks for looking into this!

[2021-01-21 18:06] MarioCarloni commented on #303
So far, I'm seeing similar behavior with Revision Documentation forms for Parts and Assemblies on both Staging (v1.6.2) and Demo (v1.6.1). From several Parts I'd attempted to remove individual Config/Constant Names, and Revision Documentation, but only the first item from each set was removed. Generally, there seems to be an issue with any form containing logic to generate/delete multiple form row

[2021-01-25 05:12] cahearn commented on #219
Generalized search on Name/Username looks great!
For Steph's request (for Reviewer/Approver Search, search on and display username only) it looks like you have limited to user.name instead.  Appears to be consistently applied to Approver/Reviewer searches in Inventory, Cal, Const/Config.
![image](https://user-images.githubusercontent.com/14059724/105663181-9a82b380-5e9f-11eb-9bae-130436ee920c.png)

[2021-01-25 05:20] cahearn commented on #275
Checked in several locations, and all appear in order.  Nice work!

[2021-01-25 05:26] cahearn commented on #289
I don't see .txt files in the "Export Calibrations with Configurations and Constants" zip, or any of the other Bulk Export results.  Great job!

[2021-01-26 03:33] cahearn commented on #294
[Tested on rdb-testing]
Looks good!
![image](https://user-images.githubusercontent.com/14059724/105796631-40482800-5f5d-11eb-9c06-2f53b224f070.png)

[2021-01-26 03:58] cahearn commented on #240
Still finding the extra warning, though behavior was more consistent initially.  Found for existing Configs/Consts (on ADCPS-J), newly created Consts on existing Parts (on VICS) and newly created Parts.  I was always seeing these two warnings as I attempted removals.

![image](https://user-images.githubusercontent.com/14059724/105797443-fd3a8480-5f5d-11eb-9a86-88028511b60b.png)

![image](https://u

[2021-01-26 04:18] cahearn commented on #307
We've got an error message!  Nicely done!

![image](https://user-images.githubusercontent.com/14059724/105798936-4c35e900-5f61-11eb-926d-2fa2f78764e0.png)

The first time I get an error (whether this one or the "Must use 'Exact' to search for 'empty'...") there is no check box portion.  Is this by design?  Seems close to the issue we're continually chasing down in #240.

If I mark the "Prevent..."

[2021-01-26 04:47] sbatchelder commented on #307
I think the checkbox option is added-in by the browser (if/when a page issues more than one notification).

Overall this seems like the correct kind of behavior: notifications are issued, a user can choose to mute them (standard browser security feature against notifications being spammed), and if they do then the warnings are not shown but an error-causing query is still prevented/not submitted.

[2021-01-26 13:11] #294 closed

[2021-01-26 15:57] MarioCarloni commented on #240
I am looking into additional solutionsSince standard browser warning modals are behaving inconsistently, a custom warning modal might behave more predictably in the long-run. Building an app-wide solution may be a significant enhancement, but a worthwhile one.

[2021-01-26 20:46] joannekoch opened #312 "Unclear Requirements for Export Calibrations with Configs & Constants"
When performing Bulk Download Tool -> Export Calibrations with Configurations & Constants, it is not clear what data needs to be created by the user in order for download data to appear in the zip file.

This scenario returns data even though **_no Constants_** are defined:
1. Adds and Approves Calibrations for a Part Template.
2. Adds and Approves Calibration Coefficients for Inventory associated

[2021-01-26 21:20] joannekoch opened #313 "IndexError Thrown when Export Calibrations with Configs & Constants after Delete"
Steps to reproduce:

1. Create and Approve CCCs for a Part Template. (CCCs are Calibrations & Constants & Configs).
2. Create and Approve Constants, Calibration Coefficients and Configurations for Inventory associated with the Part.
3. Delete Calibrations for the Part Template.
4. Re add and Approve Calibrations for the Part Template.
5. Bulk Download Tool -> Export Calibrations with Configs & Con

[2021-01-27 16:23] spetillo opened #314 "Search User: Add "Inventory" and "Part" columns to (Misc.) Actions table"

[2021-01-27 16:52] spetillo opened #315 "Change barcodes to encode URL of Inventory item instead just S/N"
It's awkward and time consuming to scan a barcoded item, copy the S/N scanned, open RDB, and paste the S/N into search in Inventory, then make another click to get to that Inventory item's page. Instead, the barcode scan should provide a URL that you can click/open that takes you directly to the page for that Inventory item.

[2021-01-27 16:53] cahearn commented on #314
The entries in those columns should appear as links to the items, as they do in other User Search Tables.

![image](https://user-images.githubusercontent.com/14059724/106024839-2a8a4e00-6096-11eb-9330-ec973bd467b4.png)

[2021-01-28 22:02] sbatchelder commented on #312
I'm adding back the export log file for CI CCC exports in my next pull request.
From what you describe above, I think the the "Export Calibration Events with Configs" is working properly.
If a part has calibrations, configurations and constants defined, they must all be present in an inventory for them to be exported. @spetillo and I worked extensively on this behavior and you can see our notes on

[2021-01-28 22:16] sbatchelder commented on #313
Can I get the fill stacktrace for this? It'd be nice to know exactly on which line the error is being triggered on.

[2021-01-28 23:55] joannekoch commented on #312
Adding the export log file back in is a good idea. I hope it will add clarity for the user.

If everything is working as designed, I guess the only issue I have is with RDB semantics.
"Export Calibrations with Configurations & Constants" implies that Configs &  Constants are defined, but
this scenario returns data even though no Configs & Constants are defined. Only Calibration Coefficients
are de

[2021-01-29 00:42] sbatchelder commented on #313
(1) It's important to note that deleting a Calibration from the part template will delete/remove instances of that calibration on all inventory items that bear it. It's a destructive operation and also why the depricated checkbox is there for (I think). If you do delete and re-create a calibration on the part template, you'll have to re-create the calibration instance on your inventory item.
(2) t

[2021-01-29 01:03] sbatchelder commented on #309
The feature is (a) broken as you so noticed, and (b) depricated. I'm removing it from as the ability to make a report like the one this function used to do can be reproduced with the search/download function.

[2021-01-29 01:07] sbatchelder commented on #263
I just noticed that the sister-issue to this one #274 is closed/resolved.
@joannekoch does that now fix the situation with this issue?

[2021-01-29 01:22] sbatchelder commented on #219
Above update includes: Users can search for name or username in all places now, and in search results names are shown, unless not set, in which case usernames are shown.

[2021-01-29 03:22] joannekoch commented on #263
Yes, this situation is now fixed. Thank you.

[2021-01-29 03:22] #263 closed

[2021-01-29 18:55] sbatchelder commented on #306
Deployment details changes and other deployment actions now records associated cruises where relevant.
Changed in Action search "Deployed Cruise: ID" back to "Cruise: ID" as an action may now also record Recovery Cruises.
There is still no Actions associated with importing/creating/changes made to a Cruise, only changes/updates to Deployments as they relate to Actions involving some associated Cru